.blockproductscategory{position:relative;}
h2.productscategory_h2 {
	padding:3px 20px;
    color: #646464;
    font-family:"Open Sans",Helvetica,arial;
    font-size: 13px;
    background: #f0f0f0;
	-webkit-box-shadow: 0px 1px 0.5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 0.5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0.5px 0px rgba(0,0,0,0.2);
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1.8;
}

#productscategory_list {
	overflow: hidden;
	float: left;
	width: 100%;
}
.three_column  .grid_8  #productscategory{position:relative;padding-top:25px}

#productscategory_list ul {
	list-style-type:none;
	margin: 0 0 0 14px;
}

#productscategory_list li .center_block{padding:0 10px 12px 10px;}
#productscategory_list li a.lnk_img {display:block;text-align:center;margin-bottom:10px;}
#productscategory_list li a.lnk_img img{max-width:100%;height:auto}
#productscategory_list li p.product_name {text-align:left;display:block;}
#productscategory_list li p.product_name a{ font:700 12px/15px Helvetica,Arial, Verdana, sans-serif;	text-transform:none;}

#productscategory_noscroll {
	height: 120px;
	width: 100%;
	margin-bottom: 30px;
}

#productscategory_scroll_left, #productscategory_scroll_right {
	background: url('img/thumbs_left.gif') no-repeat center;
	text-indent: -3000px;
	display: block;
	width: 9px;
	height: 18px;
	float: left;
	margin-top: 30px;
}

#productscategory_scroll_right { background-image: url('img/thumbs_right.gif'); }
.three_column  .grid_8 .blockproductscategory a.btn {top:5px}

.blockproductscategory a.btn{right:15px;left:auto;top:10px;background-image: url('img/i_productscategory.png');background-repeat:no-repeat;width:8px;height:11px;}
.blockproductscategory a.btn.prev{right:35px;}
.blockproductscategory a.btn.prev:hover{background-position:-22px 0}
.blockproductscategory a.btn.next:hover{background-position:-22px 100%}

        
        .comprar_hov:hover
        {
         color: #red !important;
        }

.botonComprar
{
width: 120px;
height: 35px;
background-color: #FF9806;
display: table-cell;
vertical-align: middle;
font-weight: 600;
font-size: 14px;
text-align:center;
color:#fff;
font-family: 'Open Sans',sans-serif;

}
a.botonComprar:hover
{
background-color: #FFba28;
}
#botonComprar
{
width:120px;
}

#productscategory_list .caroufredsel_wrapper
{
margin:0!important;
width:97%!important;
left:17px!important;
}

        #contenedor1{float: left;}
        
        
#contenedor2
{
float: left;
text-align: center!important;
width: 160px;
height: 220px;

border: 2px solid transparent;
border-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(1, #C8C8C8)
) 2;
border-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C8C8C8 100%) 2;
border-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C8C8C8 100%) 2;
border-image: -moz-linear-gradient(#FFF, #c8c8c8) 1 40%;
border-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C8C8C8 100%) 2;
border-image: linear-gradient(to bottom, #FFFFFF 0%, #C8C8C8 100%) 2;

}
        
        #contenedor3{width:150px;height:100px;}
        
#tituloProduc a
{
font-size: 13px;
color: #646464!important;
font-family: 'Open Sans'!important;
display:table-cell;
vertical-align:middle;
}
#tituloProduc
{
text-align: center;
float: left;
height:69px;
display:table;
width:100%;
}        

#PrecioPrice
{
font-size: 18px;
word-spacing: -4px;
font-family: 'Open Sans',sans-serif !important;
color: #646464;
text-align: center;
font-weight: 600;        
}

#productscategory_list li
{
width:194px !important;
vertical-align:top;
height:285px;
margin:0;
padding:10px 0 0;
position:relative;
float:left
}
    	#productscategory_list div.caroufredsel_wrapper{height: 300px!important;}
    	
      #contenedorPrecio{float:left; width:100%;margin-left: 10px;}
       #botonAgotado{background: linear-gradient(#E9A647, #E5902E) repeat scroll 0 0 rgba(0, 0, 0, 0) ;font: 400 14px/20px 'Open Sans',Helvetica,arial; text-align: center; border:0px solid; border-radius:5px; width: 145px; height: 40px; position: absolute; padding: 0 0 0 0;top: 271px;}
       #textoSeo{width: 100%;text-align: justify;margin-top: -9px;font-size: 7pt;}
       #textosseo{float: left;width: 100%;height: 445px;}
