#form-icr-location-add label.invalid {
	color: red;
	left: 10px;
	width: auto;
	position: relative;
	display: inline-block;
	float: none; }
 
#form-icr-location-add input.invalid,
#form-icr-location-add textarea.invalid {
	border-color: red; 
	box-shadow: 0 0 3px red; }