.bloque1{
    display:none!important;
}

#header{
    height: 176px;
}

.diveps
{
width:100%;
display:inline-block;
vertical-align: top;
padding-top:10px;
}
.cart_navigation1
{
float: right;width:300px
}
#nombremedico, #tarjeta, #dosis, #datepicker
{
width:90%;
font-family: 'Open Sans', sans-serif !important;
}
#listeps
{
width: 99%;
}
select, option
{
font-family: 'Open Sans', sans-serif !important;
}

#formula-medica
{
width:100%;
float:none;
}
.formulario
{
  width:66%;
  float:right;
}
.formularioeps
{
  width:33%;
  float: left;
  padding-top:10px;
}

 
  #formula{
  width: 100%;
  position: static;
  float: left;

    }

/*  estilos caja de opciones */  

#optios {
width: 100%;
float: left;
}

#divs{
/*display:inline-block; */

float: right;
min-width: 55%;
max-width: 97%;
}

#div1, #div2, #div3, #div4
{
width:96%;
padding: 20px;
float:left;
}

#editar, #entrega, #llamada, #online
{
font-family: 'Open Sans', sans-serif;
display: table;
width:96%;
color: #646464;
padding:0 20px;
float:left;
}

#editar, #llamada
{
background-color: #F0F0F0;
}
#entrega, #online
{
background-color: #FAFAFA;
}
.item1, .item2, .item3, .item4
{
display:table-cell;
vertical-align: middle;
padding:10px;
}
.item1
{
width:1%;
text-align: right;
}
.item2
{
width:9%;
}
.item3
{
width:25%;
}
.item4
{
width:60%;
}


#rmformula{
margin-left: 175px;
margin-top: -20px;
}

.opcion{
display: inline-block;
min-width: 90px;
max-width: 421px;
height: auto;
position: relative;
text-justify: auto;
float: left;
left: 17px;
top: 24px;

}

.imgformula{
display: inline-block;
min-width: 20%;
max-width: 97%;
height: auto;
float: right;
position: relative;
left: -679px;
top: 1px;
}
.imgformulax{
  display: inline-block;
min-width: 20%;
max-width: 97%;
height: auto;
float: left;
position: relative;
left: -17px;
width: 37%;
}
.imgformulay{
display: inline-block;
min-width: 26.5%;
max-width: 95%;
height: auto;
float: left;
position: relative;
left: -271px;
top: 0%;
}
.imgformulaz{
display: inline-block;
min-width: 20%;
max-width: 97%;
height: auto;
float: left;
position: relative;
left: -215px;
width: 50%;
top: 0px;
}

.imgformula img{
    display: inline-block;
    min-width: 45px;
    max-width: 78px;
  width: 97%;
 height: auto;
}

.imgformulay img{
    display: inline-block;
    min-width: 45px;
    max-width: 78px;
  width: 97%;
 height: auto;
}

.imgformulax img{
    display: inline-block;
    min-width: 45px;
    max-width: 78px;
  width: 97%;
 height: auto;
}

.imgformulaz img{
    display: inline-block;
    min-width: 45px;
    max-width: 78px;
  width: 97%;
 height: auto;
}
.rmformulabel1{
  position: relative;
left: 7px;
top: 0px;
}
#rmformulabel2{
  position: relative;
left: 166px;
top: 4px;
}

.textoayuda {
display: inline-block;
min-width: 83px;
max-width: 422px;
height: auto;
float: right;
text-align: justify;
position: relative;
top: -10px;
left: 133px;
font-size: 12px;
}
.textoayuda2{
display: inline-block;
min-width: 83px;
max-width: 422px;
height: auto;
float: right;
text-align: justify;
position: relative;
top: -41px;
left: -149px; font-size: 12px;


}
.textoayuda3{
display: inline-block;
min-width: 83px;
max-width: 422px;
height: auto;
float: right;
text-align: justify;
position: relative;
top: 29px;
left: -55px;
font-size: 12px;


}


.textapoyo{
font-family: 'Open Sans', sans-serif;
text-align : justify !important;
}
.textitulo
{
font-family: 'Open Sans', sans-serif;
text-align : left !important;
}

#columna1
{
width:230px;
float:left;
}

#columna2
{
width:230px;
float:left;

}
#textapoyo
{
font-family: 'Open Sans', sans-serif;
font-size: 13px;
text-align : justify;
}

.labelform
{
color:#696969;
	font-family:Arial;
	font-size:16px;
	text-justify:auto;
	
}
.contendfrom
{
	/* width: 470px; */
        width: 95%;
	height: auto;
	
 border-radius: 10px;
 margin: 10px -10px auto;
 padding: 0px 10px;

}

.validacion{
    display: inline;
    float:right ! important;
    margin-right: 10px;
    font-size: 9pt;
    color:red;
    border: solid red 1px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;   
    background-color: lightyellow;
}
#segundoCarrier {
position: relative;
float: right;
}
#particula{
  position: relative;
  left: 265px;
  top:-25px;
}
#radioParticular, #epsradio
{
 width:50%;
 display:inline-block
}
#ep{
position: relative;
left: 374px;
top: -74px;
}

#selectoreps{
position: relative;
left: 263px;
top: -54px;
}

#tarjetalabel{
  position: relative;
top: -24px;
left: 114px;
}
#columnasalud{
 position: relative;
top: -18px;

}
#posologia{position: relative;
top: -60px;}
#fecha{
position: absolute;
top: 50px;
}

.buttonatras
{
width: 78px;
height: 16px;
float: left;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
padding: 12px 33px;
border: solid 1px #999;
border-radius: 3px;
transition: none;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #c9c9c9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#c9c9c9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#c9c9c9 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#c9c9c9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
}
.buttonatras:hover
{
color:#fff;
border-color:#999;
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top, #f0f9ff 0%, #999 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(87%,#999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f0f9ff 0%,#999 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f0f9ff 0%,#999 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f0f9ff 0%,#999 87%); /* IE10+ */
background: linear-gradient(to bottom, #f0f9ff 0%,#999 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#999',GradientType=0 ); /* IE6-9 */
}