<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>AdminMedicos</name>
            <displayName><![CDATA[Administraci&oacute;n de M&eacute;dicos y Visitadores]]></displayName>
            <version><![CDATA[0.5 Theta]]></version>
            <description><![CDATA[Actualiza las caracter&iacute;sticas de los m&eacute;dicos y visitadores de Farmalisto SAS]]></description>
            <author><![CDATA[Farmalisto - Ewing V&aacute;squez]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>