<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>progressivediscounts</name>
            <displayName><![CDATA[Descuentos Progresivos]]></displayName>
            <version><![CDATA[0.1 Alfa]]></version>
            <description><![CDATA[M&oacute;dulo para generar descuentos automaticos y escalables para las ordenes de compra]]></description>
            <author><![CDATA[Farmalisto - Jeisson Arturo Gomez Ayala]]></author>
            <tab><![CDATA[]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>