<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>loadicrdevoanula</name>
            <displayName><![CDATA[Cague masivo ICR Devolver/Anular]]></displayName>
            <version><![CDATA[1 Alfa]]></version>
            <description><![CDATA[Actualiza los ICR desde un archivo (CSV) para marcarlos como anulados o devueltos.]]></description>
            <author><![CDATA[Ewing Vasquez]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>