.block_permanent_links{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 87%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(87%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 87%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 87%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 87%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 87%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
	padding: 4px 0;
}
p#header_link_contact{
	margin: 0;
	max-width: 1000px;
	display: inline-block;
}
p#header_link_contact, p#header_link_contact a{color:#3a9b37;font:11px/17px "Open Sans",Helvetica,arial;}
p#header_link_contact a.number{font-weight:600;}
