<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>maileditor</name>
	<displayName>Mail Template Editor</displayName>
	<version>1.0</version>
	<description>Mail Template Editor helps you to edit all the emails send from prestashop. You can edit using rich text editor.</description>
	<author></author>
	<tab>Tools</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>