#authentication #columns{padding-bottom:5px;}
.contenedor{
text-align:center;
position:relative;
background-color: transparent;
float:right;
clear:right;
}
.rterror{
font-family: 'Open Sans', sans-serif;
color:#A5689C;
font-size: 11px;
text-align:right;
min-height:14px;
}
.current, .current_resp
{
text-align: left;
display:block;
background-color: #f0f0f0;
color: #646464;
font-weight: 600;
font-size: 12px;
font-family: 'Open Sans', sans-serif;
text-transform: capitalize;
padding:10px;
}
.purpura{color:#A5689C;}
.obliga{
    color:#646464;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}

.etiqueta, .titoption label, .form-registro label{
    color:#646464;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}
#submitGuest{float:right;}
#SubmitLogin, #submitAccount, #submitGuest{
height:auto;
transition:none;
padding:7px 30px;
color:#FFF;
text-align:center;
text-transform:none;
font-size: 11pt;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
background-image:none;
background-color:#ff922E;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-color:#ff922E;
}
#SubmitLogin:hover, #submitAccount:hover, #submitGuest:hover{
    cursor: pointer;
    background-color:#D66A06;
}
#SubmitLogin:active, #submitAccount:active, #submitGuest:active{
    background-color:#FFF;
    color:#ff922E;
}
.resaltar{
color: #39CB98;
font-weight: 600;
font-size: 12px;
}

.beneficio{
    font-size: 9pt;
    text-justify: auto;
    width: 150px;
    display: table-cell;
    padding-left: 20px;
}

.validacion{
    display: inline;
    float:right ! important;
    margin-right: 10px;
    font-size: 9pt;
    color:red;
    border: solid red 1px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;    
    background-color: lightyellow;
}
#guest_email, #address1{width: 98%}

/*----------------segundo-hole------------------*/

.opcionCuenta
{
width:50%;
float:left;
padding:10px 20px;
background-color:#C8C8C8;
}


.radioboton
{
position:relative;
top:2px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border:#999 1px solid;
display:inline-block;
background-color:#F0F0F0;
width:10px;
height:10px;
}


.form-registro
{
margin:0;
text-align: left;
width:100%;
float:left;
font-size: 12px;
font-family: 'Open Sans', sans-serif;
}

.TOS a, .TOS2 a, .TOS3 a{color:#1E817A;text-decoration:underline;}
.TOS a:hover, .TOS2 a:hover, .TOS3 a:hover{color:#39CB98 !Important;}
.TOS, .TOS2{float:left;text-align: left;}

.TOS{margin: 10px 0;}
.TOS2{margin: 15px 0 0 2%;}
select, option{font-family: 'Open Sans', sans-serif !important;font-size:11px;background-color:#fff}
p.form-registro label{font-family: 'Open Sans', sans-serif;font-size:11px !important;}
.forma {display:table;}
.lastOptions{display:table-cell; vertical-align: middle;}
.titoption{float:left;width:50%;}
#errordays, #errormonths{float:right;}
.auth_header{
position:absolute;
top:0;
left:0;
width:100%;
z-index:4;
}
.header_bg1{
position:absolute;
top:0;
left:0;
width:50%;
height:100%;
background-color: white;
}
.header_bg2{
position:absolute;
top:0;
right:0;
width:50%;
height:100%;
}
.gradient{
overflow: hidden;
background: #3A9B37;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#58AE55), to(#3A9B37));
background: -moz-linear-gradient(#58AE55, #3A9B37);
background: linear-gradient(#58AE55, #3A9B37);
}
.auth_logo {
position: relative;
float:left;
background-color: white;
height:63px;
padding-right: 30px;
}
.auth_logo:after {
  left: 100%;
  top: 0%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-style: solid;
  border-color: transparent transparent transparent white;
  border-width: 32.5px 0 32.5px 10px;
}
#authentication .error ol li{text-align: left;}
#authentication .error p.lnk{display: none;}
.contenido{
margin-top: 90px;
}
.contenido{display: inline-block;}
#primerHole, #segundoHole{padding-bottom: 10px; border-bottom: 1px solid #f0f0f0;}
#primerHole, #segundoHole, #tercerHole, #errorHole{width:294px;margin: 0 20px;}
#errorHole{float:right;clear:right;}
#segundoHole{display:none;}
input[type=text], input[type=password]{width: 95%;}
#tercerHole a img, #tercerHole_resp a img{width:30px; margin-right: 8px;}
#tercerHole_resp a{margin:20px 0;}
#tercerHole_resp{
display:none;
width:100%;
border-bottom:1px solid #f0f0f0;
}
a.toggleHoles{
margin:20px auto;
padding:10px;
display:block;
color:white;
border:1px solid #39cb98;
background-color: #39cb98;
font-weight: 600;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
transition: all 0.5s ease 0s;
}
a.toggleHoles:hover{
background-color: #19ab78;
}
a.toggleHoles:active{
background-color: white;
color:#39cb98;
-ms-transform: translate(0,10px); /* IE 9 */
-webkit-transform: translate(0,10px); /* Safari */
transform: translate(0,10px);
}
#tercerHole a.g_connect_button{
background-color: #CD3C28;
color:white;
}
a.g_connect_button{
float:right;
width:45%;
background-color: white;
padding: 5px 0;
color:#CD3C28;
border:1px solid #CD3C28;
display:block;
font-weight: 600;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
transition: all 0.5s ease 0s;
}
#tercerHole a.g_connect_button:hover{
background-color: #AD1C08;
}
#tercerHole a.g_connect_button:active{
background-color: white;
color:#CD3C28;
}
a.g_connect_button:active{
-ms-transform: translate(0,5px); /* IE 9 */
-webkit-transform: translate(0,5px); /* Safari */
transform: translate(0,5px);
}
#tercerHole a.fb_connect_button{
background-color: #3D5B96;
color:white;
}
a.fb_connect_button{
float:left;
color:#3D5B96;
border:1px solid #3D5B96;
background-color: white;
width:45%;
padding: 5px 0;
display:block;
font-weight: 600;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
transition: all 0.5s ease 0s;
}
#tercerHole a.fb_connect_button:hover{
background-color: #1D3B76;
}
#tercerHole a.fb_connect_button:active{
background-color: white;
color:#3D5B96;
}
a.fb_connect_button:active{
-ms-transform: translate(0,5px); /* IE 9 */
-webkit-transform: translate(0,5px); /* Safari */
transform: translate(0,5px);
}
.block_permanent_links{
font-size: 11px;
text-align: center;
color: #3a9b37;
}
.block_permanent_links a{
color: #3a9b37;
font-weight: 600;
}
.olvidaSpace, .submitSpace{margin: 10px 0;display: inline-block;width:100%;}


.TOSreg {
  float:left;
  margin:8px 10px;
  width: 15px;
  height: 15px;
  position: relative;
}

.TOSreg label {
  cursor: pointer;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #646464;
  background-color: white;
}

.TOSreg label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 2px;
  left: 2px;
  border: 3px solid #3a9b37;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.TOSreg label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.TOSreg input[type=checkbox]{display:none;}

.TOSreg input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.TOSlegend{display:inline;}
.TOSunselected{
-webkit-box-shadow: 0px 0px 9px 3px #A5689C;
-moz-box-shadow:    0px 0px 9px 3px #A5689C;
box-shadow:         0px 0px 9px 3px #A5689C;
}
.resp_button{
display:none;
width:99%;
position:relative;
margin-top:20px;
text-align: left;
padding:10px 0;
background-color: white;
font-weight: 600;
color:#39cb98;
border:1px solid #39cb98;
-webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.toggleActive{
border:none;
background-color: #f0f0f0;
color:#646464;
padding: 10px 0;
}