#center_column .myaccount_lnk_list li#menu_info{background-color: #3a9b37;}
.myaccount_lnk_list #menu_info:after{border-color:transparent transparent transparent #3a9b37 ;}
#menu_info .img_cont{border-color:#3a9b37;}
.myaccount_lnk_list #menu_info img.icon{opacity:1}
a #menu_info {color:white;}
#create-account_form,#identity #login_form{border-top:1px dotted #D9D9D9;clear:none;float:left;height:20em;padding-top:20px;width:325px}
#create-account_form h4{#margin-bottom:38px;font-weight:400;height:auto;margin-bottom:30px;padding-left:0}
#create-account_form p.text,#identity #login_form p.text{padding-left:0;padding-right:0}
#create-account_form p.text input,#identity #login_form p.text input{float:left;margin:0;width:95%}
#identity #login_form a{color:#d5750b;font-size:11px;font-weight:400}
#login_form{padding-left:25px}
#create-account_form p.text{margin-bottom:11px;text-align:left}
#identity #create-account_form p.text label{width:100px}
#identity .submit{text-align:center;display:none;padding:10px;}
#identity p.cart_navigation input{bottom:0;left:255px;position:absolute;width:102px}
#identity p.lost_password{clear:none;float:left;padding:25px 0 0 5px}
#identity #create-account_form fieldset,#identity #login_form fieldset{height:18em}
#create-account_form label,#identity #login_form label{clear:both;color:#6e665a;display:block;float:none;font-size:11px;height:20px;text-align:left;width:100%}
#account-creation_form input.text,#account-creation_form #id_country,#account-creation_form #id_state{color:#6e665a;font-size:11px;height:25px;margin:0;width:202px}
#identity textarea{color:#503501;font-size:11px;height:100px;margin:0;width:202px}
#identity h3{font-size:14px;font-weight:600;margin:0;padding:5px 10px;background-color: #f0f0f0;color:#3a9b37;}
#identity p.required.met{padding:0 15px}
p.hidden{display:none;vertical-align:middle;}
label:first-letter {text-transform: uppercase;}
.confirm{display:none;}
.user_info{font-size:13px;width:49%;float:left;padding-right: 1%; border-right: 1px solid #f0f0f0;}
.user_info label{font-size:13px;}
.update{width:100%;border-collapse: separate;vertical-align: middle;}
.update tr td{padding:5px 10px;border-bottom:1px solid #f0f0f0;}
.update tr td:first-of-type, .update tr a{font-weight: 600;}
.update tr a{color:#3a9b37;}
.update div label:first-of-type {width:90px;}
#confirm span{display: table-cell;}
.save_changes{display: none;text-align: center; margin:10px 0; padding:10px; background-color: #f0f0f0;color:#646464;}
span.hidden span.hidden{color:#A5689C;}
.more_options{width:49%;float:right;position:relative;}
.information img{position:absolute;right:0; bottom:0;z-index: 4;}
.tituloAyuda{font-weight:bold;font-size: 18px;}
.identity_title{background-color: #f0f0f0;padding:5px;}
.rfc_container{text-align: center;position:relative;}
.hide_rfc{
position:absolute;
z-index:3;
width:100%;
height:100%;
background-color: white;
}
#rfc_register{margin:40px 0;}
#rfc_register, #rfc_save{
display:inline-block;
color:white;
padding:10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-image:none;
background: #ffb04c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjA0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjkyMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffb04c 0%, #ff922e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb04c), color-stop(100%,#ff922e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffb04c 0%,#ff922e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffb04c 0%,#ff922e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffb04c 0%,#ff922e 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffb04c 0%,#ff922e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb04c', endColorstr='#ff922e',GradientType=0 ); /* IE6-8 */
font-family: 'Open Sans', sans-serif;
font-weight: 600;
outline: none;
border: 1px solid #ffb04c;
-webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: margin-top 0.2s; /* Safari */
transition: margin-top 0.2s;
}
#rfc_register:hover, #rfc_save:hover{
border-color:#ffce6a;
background-image:none;
background: #ffce6a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2U2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmJhNTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffce6a 0%, #ffba56 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffce6a), color-stop(100%,#ffba56)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffce6a 0%,#ffba56 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffce6a 0%,#ffba56 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffce6a 0%,#ffba56 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffce6a 0%,#ffba56 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce6a', endColorstr='#ffba56',GradientType=0 ); /* IE6-8 */
}
#rfc_register:active, #rfc_save:active{
background: none;
background-color: #FFF;
border-color: #ffb04c;
color:#ffb04c;
-webkit-box-shadow: none;
-moz-box-shadow:    none;
box-shadow:         none;
}
#rfc_register:active{margin-top:50px;}
.rfc_container table{
width:100%;
text-align: left;
}
.rfc_container table td{
padding:5px 10px;
border-bottom:1px solid #f0f0f0;
position:relative;
}
.rfc_container table span{
position:absolute;
right:0;
bottom: 0;
color:#A5689C;
}
.rfc_container table td:first-of-type{font-weight: 600}

.circulo_de_salud{margin-top: 25px; font-size: 13px; width: 100%; float: left; pdding-right: 1%; border-right: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; display: inline-block;}
.circulo_de_salud .line{ display: inline-block; padding: 5px 10px;}
.circulo_de_salud .float{ float: right; color: #3a9b37; font-weight: bold; }