#center_column .myaccount_lnk_list li#menu_info{background-color: #3a9b37;}
.myaccount_lnk_list #menu_info:after{border-color:transparent transparent transparent #3a9b37 ;}
#menu_info .img_cont{border-color:#3a9b37;}
.myaccount_lnk_list #menu_info img.icon{opacity:1}
a #menu_info {color:white;}
#create-account_form,#identity #login_form{border-top:1px dotted #D9D9D9;clear:none;float:left;height:20em;padding-top:20px;width:325px}
#create-account_form h4{#margin-bottom:38px;font-weight:400;height:auto;margin-bottom:30px;padding-left:0}
#create-account_form p.text,#identity #login_form p.text{padding-left:0;padding-right:0}
#create-account_form p.text input,#identity #login_form p.text input{float:left;margin:0;width:95%}
#identity #login_form a{color:#d5750b;font-size:11px;font-weight:400}
#login_form{padding-left:25px}
#create-account_form p.text{margin-bottom:11px;text-align:left}
#identity #create-account_form p.text label{width:100px}
#identity .submit{text-align:center;display:none;padding:10px;}
#identity p.cart_navigation input{bottom:0;left:255px;position:absolute;width:102px}
#identity p.lost_password{clear:none;float:left;padding:25px 0 0 5px}
#identity #create-account_form fieldset,#identity #login_form fieldset{height:18em}
#create-account_form label,#identity #login_form label{clear:both;color:#6e665a;display:block;float:none;font-size:11px;height:20px;text-align:left;width:100%}
#account-creation_form input.text,#account-creation_form #id_country,#account-creation_form #id_state{color:#6e665a;font-size:11px;height:25px;margin:0;width:202px}
#identity textarea{color:#503501;font-size:11px;height:100px;margin:0;width:202px}
#identity h3{font-size:14px;font-weight:600;margin:0;padding:5px 10px;background-color: #f0f0f0;color:#3a9b37;}
#identity p.required.met{padding:0 15px}
p.hidden{display:none;vertical-align:middle;}
label:first-letter {text-transform: uppercase;}
.confirm{display:none;}
.user_info{font-size:13px;width:49%;float:left;padding-right: 1%; border-right: 1px solid #f0f0f0;}
.user_info label{font-size:13px;}
.update{width:100%;border-collapse: separate;vertical-align: middle;}
.update tr td{padding:5px 10px;border-bottom:1px solid #f0f0f0;}
.update tr td:first-of-type, .update tr a{font-weight: 600;}
.update tr a{color:#3a9b37;}
.update div label:first-of-type {width:90px;}
#confirm span{display: table-cell;}
.save_changes{display: none;text-align: center; margin:10px 0; padding:10px; background-color: #f0f0f0;color:#646464;}
span.hidden span.hidden{color:#A5689C;}
.more_options{width:49%;float:right;position:relative;}
.information img{position:absolute;right:0; bottom:0;}
.tituloAyuda{font-weight:bold;font-size: 18px;}