.contactanos
{
font-weight: 700;
text-align: center;
float: right;
color: #1e817a;
margin:5px 15px 0 0;
}


/* product desc */
/* primary_block ***************************************************************************** */
#primary_block {padding-bottom:30px;}

/* pb-right-column ***************************************************************************** */
#pb-right-column {
	float:left;
	/*width:480px;*/width: 490px;margin:0 20px 30px 0;position:relative;left: 0px;height: 456px;
}
.three_column .grid_8 #pb-right-column,.three_column .grid_8 #pb-left-column/*,
.three_column #pb-right-column,.three_column  #pb-left-column */{width:100%;margin:0 0 0px}
#pb-right-column #image-block {;border: 0 solid #d5d5d5;padding: 4px;height: 326px;position: relative;top: 24px;}
#pb-right-column #image-block  img#bigpic{max-width:100%;max-height:100%; margin-top:-46px;/*margin-left: 26px;*/}

#pb-right-column #image-block #view_full_size {
	display:block;
	cursor:pointer;text-align:center
}

#pb-right-column #image-block #view_full_size .span_link {
	display: none;
	/*margin:0;background:url(../img/i_view.png) no-repeat 0 0;
	padding:0;display:inline-block;
	text-align:left;color:#969696;height:20px;width:20px;float:right;
	text-indent:-9999px;position:absolute;right:10px; top:10px;*/
}

#pb-right-column #image-block #view_full_size .span_link img {
	position:relative;
	top:3px;
	left:-3px;
	border:none;
	padding-right:2px;
}
.on_sale_img{position:absolute;top:10px;left:10px;}
/* miniatures */
#pb-right-column #views_block {
	margin:0;position:relative;
	text-align:center;padding:15px 0;
}

#thumbs_list {width: 523px;margin:0 auto;position:relative;left: -4px;top: 25px;}
#thumbs_list  a.btn{top:45%}
#thumbs_list  a.btn.prev{
width: 0;
height: 0;
border-top: 10px solid transparent;
border-right: 13px solid #DADADA;
border-bottom: 10px solid transparent;
float: left;
position: absolute;
left: -12px;
top: 8px;
}
#thumbs_list  a.btn.next{
width: 0;
height: 0;
border-top: 10px solid transparent;
border-left: 13px solid #DADADA;
border-bottom: 10px solid transparent;
float: left;
position: absolute;
left: 497px;
top: 7px;
}
.three_column #center_column.grid_8  #thumbs_list{width:82%}
#thumbs_list ul#thumbs_list_frame {
	list-style-type:none;
	padding-left:0;
}

#thumbs_list li {
	float:left;
	width:108px;margin:0 0;
	cursor:pointer;
}
#thumbs_list li a.thickbox,
.cs_quickshop #thumbs_list li a{height:auto;display:block;text-align:center;}
#thumbs_list li a.thickbox img,
.cs_quickshop #thumbs_list li a img{max-width:100%;vertical-align:middle}
.cs_quickshop #pQuantityAvailable{display:block;clear:both;padding:5px 0}

span.view_scroll_spacer {}

#view_scroll_left,#view_scroll_right {
	float:left;
	padding:0;
	height:18px;position:absolute;top:42%;
	width:9px;
	text-indent:-3000px;
	background:url(../img/thumbs_left.png) no-repeat center center transparent;
}
#view_scroll_left{left:0}
#view_scroll_right {
	background-image:url(../img/thumbs_right.png);right:0
}

.resetimg {
	padding:0;margin:0
}
.resetimg #wrapResetImages{margin:0 10px 5px 0;display:block;}
.resetimg #wrapResetImages a,
#usefull_link_block li.print a{color:#646464}
.resetimg #wrapResetImages a:hover,
#usefull_link_block li.print a:hover{color:#000;text-decoration:underline}
/* link list */
#usefull_link_block {
	list-style-type:none;float:left
}

#usefull_link_block li {
	padding:0;float:left;margin-right:10px;margin-bottom:5px;
}
#usefull_link_block li.print {
}

#usefull_link_block li.sendtofriend {
	padding-left:20px;
	background:url(../img/icon/send_friend.gif) no-repeat 0 0;
}

#usefull_link_block li#left_share_fb {
	padding-left:20px;
	background:url(../img/icon/picto_fb.png) no-repeat left center;
}
#usefull_link_block li a:hover,#usefull_link_block li:hover{text-decoration:underline;color:#000}
/* pb-left-column ****************************************************************************** */
#pb-left-column {
width: 490px;
float: right;
}

#pb-left-column h1 {font-size: 19px !important;
color: #A5689C !important;
font-family: 'Open Sans', sans-serif !important;
font-weight: 600 !important;
margin-bottom: 3px; }

#pb-left-column #short_description_block {display:block;padding-bottom:10px;}

#pb-left-column #short_description_block .buttons_bottom_block {
	display:none;
}

/* form */
#pb-left-column #buy_block {
	margin-top:10px;clear:both;overflow:hidden;
}

#buy_block p {
	padding-bottom:0px;width: 106%;
}

#pb-left-column #buy_block label {
	
}

/* short description pack */
.short_description_pack {
	display:none;
}
.group_button_add{float:left;margin-right:30px;}

/* color_picker */
#pb-left-column #color_picker p {
	padding-bottom:5px;
	font-weight:700;
}

#attributes fieldset {
	padding-bottom:10px;
}

#attributes fieldset label {
	vertical-align:top;
}

#attributes .attribute_list {
	display:block;
}

.attribute_list #color_to_pick_list {
	list-style-type:none;
	width:100%;
}

.attribute_list #color_to_pick_list li {
	float:left;
	margin:0 10px 10px 0;
	padding:4px;
	border:1px solid #dcdcdc;
}

.attribute_list #color_to_pick_list li.selected {
	border:1px solid #000;
}

.attribute_list #color_to_pick_list a.color_pick {
	display:block;
	height:18px;
	width:18px;
}

.product_attributes {
	padding:15px 0 0;
}

/* attributes */
#attributes select {
	width:70%;}

/* quantity_wanted */
#quantity_wanted_p{overflow:hidden}


/* availability_statut */
#availability_statut {
	margin:0;clear:both;padding:10px 0;
}

#availability_statut span#availability_label {
	display:inline-block;
	width:auto;
	font-weight:700;
	font-size:12px;
	text-align:left;
}

#availability_statut #availability_value {
		background-color:green;
		color:#ffffff;
		text-shadow:none;
		padding:0 10px;
		text-transform: uppercase;
		font-size:10px;
		font-weight: bold;
		display:inline;
}

#availability_statut #availability_value.warning_inline {
	background-color:#9B0000;
}

/* prices */
.content_prices {
	text-align:left;
}
.content_prices .price p{float:left;margin-right:10px;}
#old_price_display{color:#969696;	text-decoration:line-through;}
.content_prices .on_sale{display:none}
#buy_block p.price {
	padding:0;
}

.discount {
	display:none;
}

#buy_block p#old_price {
	padding-bottom:15px;font-weight:700;color:#969696;
	text-decoration:line-through;margin-top:0;font-size:12px;
}



#reduction_percent,#reduction_amount {padding-top:6px;display:none!important;}
#old_price{padding-top:6px;}
.cs_price  p{float:left;margin:0 5px 0 0}
.cs_price{float: right;margin-top: 53px;}

/* online_only */
#buy_block p.online_only {
	font-weight:700;
	font-size:11px;
	color:#900;
	text-align:left;
	text-transform:uppercase;
}

/* add_to_cart */
.content_prices #add_to_cart {
	position:relative;
	padding:0;display:block
}

.content_prices #add_to_cart .exclusive,.content_prices #add_to_cart .exclusive_disabled {
	width:auto;padding:0 15px 2px;text-transform:uppercase;max-width:100%
}
.cs_quickshop  #add_to_cart .exclusive{#line-height:19px!important;}
/*.content_prices #add_to_cart .exclusive:hover,.content_prices #add_to_cart .exclusive_disabled:hover{background:#af0600;border:none;color:#fff}*/

/**/
.buttons_bottom_block {margin:0 0 15px}
.buttons_bottom_block .exclusive{padding-bottom:2px;}

.buttons_bottom_block #wishlist_button {
	font-weight:700;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
}

#send_friend_form h2 {
	padding:8px 11px;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-transform:uppercase;
	background:#383838;
}

#send_friend_form .product {
	margin:20px 10px;
}

#send_friend_form .product img {
	float:left;
	margin:0 10px 0 0;
	border:1px solid #ccc;
}

#send_friend_form .product .product_desc {
	float:left;
	width:380px;
}

#send_friend_form .product .product_desc p {
	padding:0 10px 0 0;
	color:#333;
}

#send_friend_form .product .product_desc p.product_name {
	font-size:12px;
	color:#000;
}

#send_friend_form .send_friend_form_content {
	margin:0 10px 20px;
}

#send_friend_form .form_container {
	padding:10px 15px;
	border:1px solid #ccc;
	background:#eee;
}

#send_friend_form .form_container p.intro_form {
	padding-bottom:14px;
	font-weight:700;
	font-size:13px;
	color:#333;
}

#send_friend_form .form_container p.txt_required {
	padding-bottom:0;
	color:/* SEND TO FRIEND (pop-in) ##################################################################### */
#666;
}

#send_friend_form .form_container .text {
	padding-bottom:10px;
}

#send_friend_form .form_container .text label {
	display:inline-block;
	padding:6px 15px;
	width:180px;
/* 210 */
	font-size:12px;
	text-align:right;
}

#send_friend_form .form_container .text input {
	padding:0 5px;
	height:22px;
	width:260px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
}

#send_friend_form .submit {
	margin-top:20px;
	padding-bottom:0;
	text-align:right;
}

/* PACK ##################################################################### */
#blockpack {
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #999;
}
#blockpack h2{float: left;margin-top: -170px;width: 1000px;padding: 10px;color:#969696 !important;background: #666666;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E6E6E6), to(#fff));background: -moz-linear-gradient(#E6E6E6, #fff);background: linear-gradient(#E6E6E6, #fff);-pie-background: linear-gradient(#E6E6E6, #646464);box-shadow: 1px -2px 3px #333;
-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;border.radius: 3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;font-weight: 100;font-size: 17px;text-transform: capitalize;
}
#blockpack ul#product_list {
margin-left: -27px!important;
}

ul#product_list {
border: 0px!important solid #dddddd!important;
float: left;
margin-left: 179px;
margin-top: -122px;
}

/* PERSONNALISATION ##################################################################### */
.customization_block {
}

.customization_block p.infoCustomizable {
	margin:10px 0 20px;
	padding:0 0 0 20px;
	background:url(../img/icon/infos.gif) no-repeat 0 0 transparent;
}

ul#uploadable_files,ul#text_fields {
	list-style-type:none;
}

.customizableProductsFile,.customizableProductsText {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.customizableProductsFile ul,.customizableProductsText ul{padding-left:0!important}
.customizableProductsFile ul li,.customizableProductsText ul li{list-style:none!important}
.customizationUploadLine {
	padding-bottom:10px;
}

.customizationUploadLine label {
	display:inline-block;
	width:150px;
	vertical-align:top;
}

.customizationUploadLine textarea {
	height:50px;
	width:270px;
	border:1px solid #ccc;
}


#customizedDatas {
	float:left;
}
#customizedDatas  #ajax-loader{vertical-align:-8px}
.customizationUploadBrowse a[title="Delete"]{vertical-align:top}
.customizationUploadBrowse input.customization_block_input{line-height:18px;}
.accessories_block div ul li a:hover,#productscategory_list li p.product_name a:hover{color:#397abd;text-decoration:none}
.accessories_block div ul li a.exclusive:hover{color:#fff}
.accessories_block div ul li .s_title_block a, .accessories_block div ul li .s_title_block span  {
	font-weight:bold;
}
#wrapResetImages img{vertical-align:-3px}
#module-csquickview-csproduct #primary_block{padding-top:0;border:none;margin:15px 0;position:relative}
#module-csquickview-csproduct #primary_block .content_prices .our_price_display,
#module-csquickview-csproduct #primary_block .content_prices #reduction_amount,
#module-csquickview-csproduct #primary_block .content_prices #old_price{float:left;margin:9px 7px 0 0;padding:0}
#module-csquickview-csproduct #primary_block .content_prices .our_price_display{margin-top:2px;}
#module-csquickview-csproduct #primary_block .content_prices #add_to_cart{clear:left;margin-top:20px}

.cs_quickshop #columns{padding:0 15px}
.three_column  .grid_8 .share{float:none;margin:10px 0 0;}
.share{clear:both;display:block}
.cs_cart_quantity{
	background-color:#FFF;
	text-align:center;
}
.cs_social_block{clear:both;display:block;overflow:hidden;padding:20px 0}
.itemFacebookButton, .itemTwitterButton,.itemGooglePlusOneButton,.PIN_1369644855711_pin_it_button,.itemPinterestButton{display:inline-block;padding-right:7px;}
.itemTwitterButton{width:90px}
.itemGooglePlusOneButton{width:50px;float: left;margin-top: 7px;margin-left: 42px;}
@media only screen and (max-width: 700px) {	
#module-csquickview-csproduct #pb-right-column,
#module-csquickview-csproduct {width:100%;margin:0 0 20px;}
}
#more_info_tabs{
	box-shadow: 0 2px 5px;background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(0%, rgba(224,224,224,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ffffff', GradientType=0 );}
#product_reference{
	background-color: #ededed;
	padding: 3px 0px;
	color: #969696;
	float: left;
	margin-top: 0px;
	width: 103%;
	border-radius: 3px;
	/*height: 27px;*/
	margin-left: -6px;
}
						
						
						#tituloProducto{vertical-align: middle;line-height: 99px;text-align:left; margin-left: 124px;width: 74%;margin-top: -79px;}
						#titulo_producto{display: inline-block;vertical-align: middle;line-height: normal;color: #946897;font-family: 'Open Sans', sans-serif !important;margin-bottom: 19pt;}
						#cantidad{
							text-align: center;
							font-size: 13px!important;
							font-family: 'Open Sans',
							sans-serif !important;
							font-weight: 600;
							float:left;
						}
						#descripcionCorta{float: left;margin-left: -273px;margin-top: 39px;text-align: justify;}
						#formula_medica{float: right;position:relative;left: -4px;top: 10px;z-index:1;}
						#logoPrecio{float: left;/*margin-left: -10px;*/position:relative;left: -4px;top: 10px;z-index:1;}
						#compraSegura{color: #969696;font-family: 'Open Sans', sans-serif;font-size: 10pt;float: left;margin-left: -3px;margin-top: -10px;}
						#mediosPagos{width: 491px;}
						#linea2{width: 174px;padding: 12px;}
						#formulaMedica1{float: left;margin-left: -5px;}
						#conteDescuento{width: 229px;text-align: center;line-height: 13px;}
						#fabricante{float: left;width:23%;}
						#linea{width: 179px;margin-left: 8px;}
						#colorTexto{color:#946897;}
						#TextoGrileta{width: 72% !important;font-size: 11px !important;font-family: 'Open Sans', sans-serif !important;}
						#TextoGrileta2{width: 72% !important;font-size: 11px !important;font-family: 'Open Sans', sans-serif !important;}
						#TextoGrileta3{width: 72% !important;font-size: 11px !important;font-family: 'Open Sans', sans-serif !important;}
						#TextoGrileta label{font-weight: 600;font-size: 11px !important;font-family: 'Open Sans', sans-serif !important;}
						#TextoGrileta2 label{font-weight: 600;font-size: 11px !important;font-family: 'Open Sans', sans-serif !important;}
						#TextoGrileta3 label{font-weight: 600;font-size: 11px !important;font-family: 'Open Sans', sans-serif !important;}
						#textoGrilletaOscuro{font-weight: 700;}
						#price {float: right;margin-right: -25px;margin-top: -315px;width: 52%;}
						
						#informac{width: 239px;float: right;position: relative;top: -231px;}
						/*#elementos_redes{float: left;width: 86%;margin-top: 10px;}*/
						#redes_sociales{width:50px;margin-right: -42px;margin-top: -252px;float: right;}
						#imagenes{width: 52px;float: left;}
						#labeles{width: 187px;float: right;margin-top: 15px;text-align: left;}
						#global{height: 273px;}
						#imgge{width: 50px;}
						#idTab1{text-align:justify;margin-left: 21px;}
						#idTab1 p{font-size: 12px !important;font-family: 'Open Sans',sans-serif;}
						
						.dispo1{color: #629841;font-size: 13px !important;font-family: 'Open Sans', sans-serif;font-weight: 600;float: left;width: 70%;margin-left: 79px;margin-top: -32px;position: relative;}
						#dispo2{color: #629841;font-size: 13px !important;font-family: 'Open Sans', sans-serif;padding: 6px;font-weight: 600;font-size:9pt}
						#dispo3{float:left;width: 62%;font-size: 12px !important;margin-left: 6px;font-family: 'Open Sans', sans-serif;display:none;}
						#our_price_display{color: #A5689C;font-family: 'Open Sans', sans-serif;font-size: 33px;font-weight: 600;margin-left: -11px;}
						#imagenMarco{clear: both;margin-top: -310px;float: left;}
						#imagenMarco2{clear: both;margin-top: -310px; margin-left:737px;float: left;}
						#marco{width: 5px;height: 310px; background-image: url('../img/icon/producto/recuadro.png');}
						#in{margin-top: -75px; background-image: url('../img/icon/producto/ProductPage Aprobada Codigo Barras Oculto copia-02.png');width: 62%;height: 49px;}
						#goog{margin-top: 20px; background-image: url('../img/icon/producto/ProductPage Aprobada Codigo Barras Oculto copia-03.png');width: 62%;height: 49px;}
						#twit{margin-top: 30px; background-image: url('../img/icon/producto/ProductPage Aprobada Codigo Barras Oculto copia-04.png');width: 62%;height: 49px;}
						#face{margin-top: 30px; background-image: url('../img/icon/producto/ProductPage Aprobada Codigo Barras Oculto copia-05.png');width: 62%;height: 49px;}
						#labelPrecio{color: #646464;font-family: 'Open Sans', sans-serif;font-size: 19px;font-weight: 600;margin-right:11px;}
						#labelFormula{color: #8D2F2B;font-size: 13px!important;margin-top: -32px;margin-bottom:10px;float: left;margin-left: 55px;font-family: 'Open Sans', sans-serif!important;font-weight: 600}
						#product_reference input{border: 0px;}
						#caraLibro{padding: 7px;}
						#buy_block{margin-top: -50px;}
						#centrarPrecio{width: 500px;margin-top: 17px;}
						#scro{overflow: auto!important;height: 144px!important;width:100%;}
						#contenidoPaquetes{float: left;}

/*######################## ANIMACION ###################################*/

.animacion0{position: absolute;visibility:hidden;}
.animacion1 {position: relative;}
.animacion2{float:left;}

.disponibilidad{
	width:100%;
	float:left;
}
.disponible {
font-weight: bold;
padding: 8px;
text-align: center;
float: right;
color: #1e817a;
margin: 8px 22px 0 26px;
background-color: #ededed;
width: 207px;
height: 19px;
}
.cantidad_orden
{
	padding:4px;
	float:left;
}
.input_cantidad
{
	background-color: white;
	padding-left:3px;
	width:70px;
	float:left;
}
.boton
{
	width: 217px;
	float: right;
}
#short_description_content
{
width:232px;
float:left;
/*height: 197px;*/
/*line-height: 13px;
margin-right: 282px;
margin-top: 47px;*/
}
#short_description_content p{
margin-top: 5px;
float: left;
font-family: 'Open Sans', sans-serif !important;
text-align: left !important;
font-size: 12px  !important;
}
.our_price_display {
float: left;
text-align: center;
width: 250px;
/*font-size:18px;
font-weight:700;
margin-left: -9px;
*/}
#add_to_cart{

margin-top: 30px;
}
#add_to_cart input#btnComprar{
width: 100%;
/*margin-left: -224px;*/
/*margin-top: -13px;*/
background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 48%,
									  rgba(254,174,74,1) 49%,
									  rgba(214,106,6,1) 100%
								);
background: -webkit-gradient(left top,
							 left bottom,
							 color-stop(48%,rgba(255,175,75,1)),
							 color-stop(49%, rgba(254,174,74,1)),
							 color-stop(100%, rgba(214,106,6,1)));
background: -webkit-linear-gradient(top,
									rgba(255,175,75,1) 48%,
									rgba(254,174,74,1) 49%,
									rgba(214,106,6,1) 100%);
background: -o-linear-gradient(top,
							   rgba(255,175,75,1) 48%,
							   rgba(254,174,74,1) 49%,
							   rgba(214,106,6,1) 100%);
background: -ms-linear-gradient(top,
								rgba(255,175,75,1) 48%,
								rgba(254,174,74,1) 49%,
								rgba(214,106,6,1) 100%);
background: linear-gradient(to bottom,
							rgba(255,175,75,1) 48%,
							rgba(254,174,74,1) 49%,
							rgba(214,106,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b',
													endColorstr='#d66a06',
													GradientType=0 );
border-radius: 3px;
color:white;
font-family: 'Open Sans',sans-serif;
font-size: 19px;
font-weight: 100;
height: 47px;
}
#add_to_cart input#btnComprar:visited:{
width: 100%;
/*margin-left: -224px;*/
/*margin-top: -13px;*/
background: rgba(255,175,75,1);
background: -moz-linear-gradient(top,
								 rgba(255,175,75,1) 48%,
								 rgba(254,174,74,1) 49%,
								 rgba(214,106,6,1) 100%);
background: -webkit-gradient(left top,
							 left bottom,
							 color-stop(48%, rgba(255,175,75,1)),
							 color-stop(49%, rgba(254,174,74,1)),
							 color-stop(100%, rgba(214,106,6,1)));
background: -webkit-linear-gradient(top,
									rgba(255,175,75,1) 48%,
									rgba(254,174,74,1) 49%,
									rgba(214,106,6,1) 100%);
background: -o-linear-gradient(top,
							   rgba(255,175,75,1) 48%,
							   rgba(254,174,74,1) 49%,
							   rgba(214,106,6,1) 100%);
background: -ms-linear-gradient(top,
								rgba(255,175,75,1) 48%,
								rgba(254,174,74,1) 49%,
								rgba(214,106,6,1) 100%);
background: linear-gradient(to bottom,
							rgba(255,175,75,1) 48%,
							rgba(254,174,74,1) 49%,
							rgba(214,106,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b',
													endColorstr='#d66a06',
													GradientType=0 );
border-radius: 3px;
color:white;
font-family: 'Open Sans',sans-serif;
font-size: 19px;
font-weight: 100;
height: 47px;
}
#add_to_cart input#btnComprar:hover{
width: 100%;
/*margin-left: -224px;*/
/*margin-top: -13px;*/
background: rgba(214,106,6,1);
background: -moz-linear-gradient(top,
								 rgba(214,106,6,1) 51%,
								 rgba(214,106,6,1) 100%);
background: -webkit-gradient(left top,
							 left bottom,
							 color-stop(51%, rgba(214,106,6,1)),
							 color-stop(100%, rgba(214,106,6,1)));
background: -webkit-linear-gradient(top,
									rgba(214,106,6,1) 51%,
									rgba(214,106,6,1) 100%);
background: -o-linear-gradient(top,
							   rgba(214,106,6,1) 51%,
							   rgba(214,106,6,1) 100%);
background: -ms-linear-gradient(top,
								rgba(214,106,6,1) 51%,
								rgba(214,106,6,1) 100%);
background: linear-gradient(to bottom,
							rgba(214,106,6,1) 51%,
							rgba(214,106,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d66a06',
													endColorstr='#d66a06',
													GradientType=0 );
border-radius: 3px;
color:white;
font-family: 'Open Sans',sans-serif;
font-size: 19px;
font-weight: 100;
height: 47px;
}
#add_to_cart input#btnComprar:active:{
background: rgba(58,152,55,1);
background: -moz-linear-gradient(top,
								 rgba(58,152,55,1) 0%,
								 rgba(39,104,44,1) 100%);
background: -webkit-gradient(left top,
							 left bottom,
							 color-stop(0%, rgba(58,152,55,1)),
							 color-stop(100%, rgba(39,104,44,1)));
background: -webkit-linear-gradient(top,
									rgba(58,152,55,1) 0%,
									rgba(39,104,44,1) 100%);
background: -o-linear-gradient(top,
							   rgba(58,152,55,1) 0%,
							   rgba(39,104,44,1) 100%);
background: -ms-linear-gradient(top,
								rgba(58,152,55,1) 0%,
								rgba(39,104,44,1) 100%);
background: linear-gradient(to bottom,
							rgba(58,152,55,1) 0%,
							rgba(39,104,44,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9837',
													endColorstr='#27682c',
													GradientType=0 );
border-radius: 3px;
color:#dde735;
font-family: 'Open Sans',sans-serif;
font-size: 19px;
font-weight: 100;
height: 47px;
}
.global2{
width: 260px;
float: left;
margin-top: 1px;
/*padding: 4px 0 2px 0;*/
}
.mainDiv
{
	width:225px;
	height:25px;
	float:left;
	margin: 0 5px 0 5px;
	overflow: visible;
	position:relative;
	cursor: pointer;
}
.verMas a
{
	height:20px;
	float:left;
	font-family:'Open Sans', sans-serif !important;
	font-style: italic;
	font-weight:600;
	text-align: right;
	font-size: 12px  !important;
	transition: none !important;
}
.verMas a:hover
{
	color:#1e817a;
}
#mainDiv
{
position:relative;
}
#globalDiv
{
width:220px;
float:left;
margin-top:3px;
}
#image0,#image1,#image2,#image3,#image4
{
position:absolute;
top:0;
visibility:hidden;
}