	/* Bigger then standard 960 */
	@media only screen and (min-width:1001px){
	
		/* theme */
		form#searchbox{width:506px;}
		.sf-menu{padding-left:0}
		#menu{z-index:10}
		#seguridadTitulo {margin-top: 8px;font-size: 11px;}
		#featured-products_block_center{width:748px;}
		.cat_banner{width:428px;}
		.cs_right_cat_tab{width:490px;padding-bottom:10px}
		.container_24 .grid_14 {	width:556px;}
		.cs_home_filter_product .products_home_filter_product{width:325px;}
		
		.cs_top_banner_footer ul li{width:29%}
		.cs_top_banner_footer ul.row_2  li.first{width:622px}
		
		
		/*ul#product_list li, .accessories_block ul#product_list li{margin:0 5px}*/
		.three_column  .sortPagiBar .nbrItemPage,
		.three_column  .content_sortPagiBar .sortPagiBar #productsSortForm{float:left;margin-left:0}
		.three_column .grid_12 #create-account_form, #authentication .three_column .grid_12  #login_form{width:100%;margin-bottom:15px;}
		.three_column .cart_voucher input.discount_name{width:367px;}
		.ac_results {width: 487px !important;}
		
		.one_column ul#product_list li.grid_3{margin:0 12px}
		.grid_19 ul#product_list li.grid_5{margin:0 6px}
		
		.three_column #pb-right-column.three_column  #pb-left-column {width:100%;margin:0 0 0}
		a:hover img{opacity:1}

		/*-------------shopping-cart---------------*/
		.cart_product, .cart_description, .cart_ref, .cart_unit, .cart_quantity, .cart_total {width: 166px}
		.cart_navigation{margin-bottom: 10px;}
		#contenedor3contenidos {text-align: center !important;}
		/*-------------Contenido CMS--------------*/
		.CMScontent1000{width:1000px;height:auto;}
		.CMScontent500{width:500px;height:auto;}
		.CMScontent385{width:333px;height:auto;}
		.CMScontent298{width:250px;height:auto;}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 1000px) {
		/*theme*/
		#segundoHole{float: right;}
		.seguridad{width:43%;}
		.medios_pago{width:56%;}
		.imagen_medios{width:47px;}


		/*div#columns.one_column.grid_24.omega.alpha{margin-top: 50px!important;}*/
		div#center_column.grid_24.omega.alpha{margin-top: 0px;}
		/*#index #menu .cs_mega_menu_cat {display: none;}*/
		#page .sf-menu li > a {font-size: 12px;}
		#featured-products_block_center{width:556px;}
		.featured-products-content{min-height:295px;}
		.cat_banner, .cs_right_cat_tab{margin:0 20px;padding-bottom:10px}
		/*ul#product_list li, .accessories_block ul#product_list li{margin:0 5px}*/
		ul#order_step {margin: 20px 0;width: 768px;}
		ul.f_block_content{display:block!important;}


				#mainDiv{float:left; margin: 0 0 0 5px;}
		#footer .block{width:178px;}
		#footer  #secure_payment h4{padding:0 10px;}
		#footer  #secure_payment img{margin:0 4px;}
		#footer .block#lineas-contacto{width:225px;}
		#footer div img{margin:auto 2px;}
		.fondo-container {bottom: 516px;}
		#create-account_form p.text input, #authentication #login_form p.text input{width:90%}
		.two_column .grid_16 #create-account_form, #authentication .two_column .grid_16 #login_form{width:100%;margin-bottom:20px}
		.three_column .grid_12 #create-account_form, #authentication .three_column .grid_12  #login_form{width:100%;margin-bottom:15px;}
		
		.two_column .cart_voucher input.discount_name{width:308px;}
		.three_column .cart_voucher input.discount_name{width:342px;}
		.container_24 .grid_14{width:384px;margin:0 0 10px;}
		.cs_home_filter_product .products_home_filter_product{width:169px;min-height:270px}
		.ac_results {   width: 310px !important;}
		#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul li.menu_item > div a{word-wrap: break-word;}
		.sf-menu li,.sf-menu li + li{background-position:center right}
		.three_column ul#product_list li.grid_5,
		.three_column ul#product_list li.grid_4{margin:0 3px;}
		.grid_19 ul#product_list li.grid_5{margin:0 5px}
		
		.accessories_block ul#product_list li{margin-left:-3px;}
		.featured-products-content{min-height:266px;}
		
		.hook_csslide_new{float:none;}
		.tp-bullets{left: 384px;top: 252px;}
		div.banner.revslider-initialised.tp-simpleresponsive{height: 215px!important;}
		#new-products_block_right{width: 213px;height: -248px!important;margin-top: -276px!important;}
		#new-products_block_right .new_content{min-height:248px!important;}
		#new-products_block_right li{margin:10px;width: 180px!important;margin-left: 57px;padding: 0 0!important;}
		#new-products_block_right .new_content {padding: 0px 0px!important 0px!important;}
		.cs_revolution{width:506px;clear:both;}
		
		.list_manufacturer li a img{height:70px}
	
		#pb-left-column {width: 480px;float: none;margin-top:55px;}
		#more_info_block{max-width: 473px;}
		#imgge {width: 50px;}
		#informac {width: 34%;}
		#labeles {width: 198px;margin-top: 12px;}
		#imagenes {width: 54px;}
 		#imagenMarco{margin-top: -299px;}
 		#imagenMarco2{margin-top: -304px; margin-left:470px;}
		#marco {width: 5px;height: 302px;}
 		#our_price_display {font-size: 25pt;margin-top: 26px;/*margin-left: 6px;*/}
 		#carousel-productscategory li{width: 230px!important;}

    	.blockproductscategory a.btn.prev {right: 739px!important;top: 228px;}
    	.blockproductscategory a.btn {top: 227px!important;}
    	#price{margin-top:-323px;}
    	#product_reference input{border: 0px;font-size: 16px;width: 28px;}
    	#elei{width: 220px !important;}
		#add_to_cart {width: 262px!important;}
		#textosseo{height: 560px!important;}
		/*#formula_medica{margin-top:-322px!important;margin-left: 442px!important;}*/
		/*#logoPrecio {float: left;margin-top: -322px!important;margin-left: 0;}*/
		#thumbs_list{left: 3px;}
		#thumbs_list a.btn.next{left: 492px!important;}
		#thumbs_list a.btn.prev{left: -12px!important;}
		#short_description_content {height: 197px;line-height: 13px;float: left;width: 224px;}
		#formulaMedica1{margin-top: 0px;}
		.caroufredsel_wrapper {width: 687px!important;}


		#sele{top: 110px!important;}
		#contenedorProducto {float: left!important;}
		/*-----------------Header-------------------*/
		#search_block_top #search_query_top {width: 265px;height: 32px;font-size: 11px; padding:0 10px;}
		#search_block_top form#searchbox{margin: 0 8px;height:32px;}
		.header_account_avatar{margin: 0;}
		.main_logo{padding-right:5px;height:auto;}
		.main_logo .logo{height:50px;}
		.main_logo:after{border-width: 25px 0 25px 8.3px;}
		.flecha_logo{height:50px;}
		.shopping_cart#shopping_cart a img{height:59px;}
		.shopping_cart#shopping_cart a span{top:7px;}
		#header_user_info a{font-size: 10px!important}
		.header_account_info{width:65px;}
		#search_block_top .button{height: 28px;}
		.sf-menu{height:30px!important;}
		.sf-menu li{width:152px!important;}
		.sf-menu li ul{width:auto!important}
		
		/*-----------------listado de productos relacionados-------------------------*/
		#elei{margin: 0 21px !important;}
		/*--------------------------------------------------*/
		/*#contenedorPrecio div div{width: 100px!important;margin-left: 2px;float: left;}*/
		#seleccionPago {width: 100%!important;}
		#contenedor_medios {width: 65%;}
		#index #menu{margin-top: -341px;}
		#new-products_block_right p.title_block, #new-products_block_right h4 {padding: 0px 32px;margin-left: 158px;}
		#index #center_column, #index #columns {text-align: center;}
		#featured-products_block_center li {padding: 60px 0;height: 329px;}
		.cs_home_filter_product .products_content_tab{width: 610px;}
		.cs_home_filter_product .filter_row_homebottom_1 .products_content_tab {margin-top: 352px;width: 700px;margin-left: -164px;}
		div.product_list_filter{margin-top: 320px;}
		.none_tab_row_homebottom_1 .products_none_tab {border: 0px solid #b6b6b6;width: 124px;}
		div.slide_image.grid_5 div.caroufredsel_wrapper{height: 326px!important;}
		.cs_home_filter_product .products_home_filter_product { border-left: 0px solid transparent!important;}
		/*li.ajax_block_product{width: 124px!important;padding: 0 6px!important;}*/
		.list_call_carousel div.caroufredsel_wrapper {width: 680px!important;height: 238px!important;}
		.product_list_filter  div.caroufredsel_wrapper {width: 680px!important;height: 324px!important;}
		.cs_hometab_row .products_none_tab a.product_image {text-align: center;margin-bottom: 16px!important;}
		.cs_home_filter_product .slide_image a.btn.next {right: -513px!important;}
		.cs_home_filter_product .slide_image a.btn.prev {left: -4px!important;}
		.cs_home_filter_product .products_content_tab .slide_image {height: 679px!important;}
		.cs_home_filter_product .products_home_filter_product {margin-left: -85px!important;}
		.block .title_block, .block h4, #cs_special_block_right p.title_block, #cs_special_block_right h4 {text-align: center;}
		#new-products_block_right h4 {width: 148px;}
		.block_content div.caroufredsel_wrapper{height: 254px!important;}
		#new-products_block_right .new_content {height: 248px!important;}
      	div.new-products_block_right .caroufredsel_wrapper{height: 250px!important;}
		.bloque1 {min-width: 372px!important;}
		.bloque1 input[type="text"] {left: 75px!important;}
		.celda1 input {left: 77px!important;}
		#new-products_block_right li a.product_image {height: 180px!important;}
		.slotholder img{width:536px!important;height: 248px!important;}
		.imagenAyuda {right:0}
		.regform #days, .regform #months, .regform #years{width:31%}
		#mainDiv{float:left; margin: 0 5px 0 4px;}
		#disponible{margin: 8px 9px 0 20px;width:217px;}
    	#pb-right-column {float:none;margin:auto;height: 370px;}
    	#cabeceraTitulo{margin-top: 80px;}

    	/*-------------------------shopping-cart------------*/
		#descripcioNombre{font-size: 9pt;}
		/*#atras1:hover{margin: 48px 0 26px 0;margin-top: 132px!important;}*/
		#contenedor3contenidos{width:746px !important;margin-bottom: 20px;}	
		#descuentoValor{text-align: left;width: 229px;}
		#segundoLabel {margin-top: -52px;}
		#tercerLabel {margin-left: 452px;}
		#cuartoLabel {margin-left: 548px;}
		#quintoLabel {margin-left: 697px;}
		#sextoLabel {margin-right: 397px;}
		#imagenProductoCompra {float: left;width: 113px;}
		#imagproducto { width: 100%;}
		.listado_carrito {width: 100%; float: left; height: auto;}
		#contenedorGrande {width: 100%; display:table; height: auto; vertical-align: middle; text-align: center; vertical-align: middle;}
		.cart_quantity_input { width: 20px !important; height: 22px; position: unset !important;}
		.cart_quantity_up { height: 22px;}
		.cart_quantity_down { height: 22px;}
		.cart_navigation1{margin-right:10px;}
    	.table_block#order-detail-content{width:748px !important}
    	#productoLabel, .cart_product{width:132px!important}
		#descripcionLabel, .cart_description{width:262px!important}
		#precioLabel, .cart_unit{width:112px!important}
		#cantidadLabel, .cart_quantity{width:162px!important}
		#totaLabel, .cart_total{width:104px!important}
		.mind_content, .mind_title{font-size:12px !important}
		#cupon{width:230px !important;}
		.en_cuenta{width:465px!important;}
		#submitAddDiscount{width:auto !important}
		/*-------------Lista-pasos-----------------*/
		ul#order_step{text-align: center;}
		ul.step li {width:150px;padding: 7px 0px;}
		/*---------------totales--------------------*/
		.contenedortotal{width:250px !important;margin-right:0 !important}
		#cart_title{width:56% !important;}
		#contenedor3contenidos {text-align: center !important;}
		/*-----------------formula-medica---------------*/
		#formula-medica{width:100% !important;}
		.descropcion{width:76%!important}
		.file-formula{width:40%;!important}
		#div4 .descropcion{width:50%!important;}
		/*------------Order-Payment-----------------*/
		.payment_module{text-align:left !important;}
		#contenedor_medios{width:auto !important;}
		#textoseguridad{display:none !important;}
		.payment_module .image{width:50px!important;margin: 0 21px!important}
		#opciones{width: 82%!important;padding: 10px 9%!important;}
		.columna2 .productoTamano{margin:0 5px!important;}
		.columna2 .cart_quantity{width:140px!important}
		img.trust_img {margin-left:45px;}
		#formfiles input.paymentSubmit{margin-right: 90px;}
		p.contendfrom{width:89%!important;}

		/*---------product-list---------------*/
		.center_block_search {padding: 0!important}
        ul#product_list li{padding: 10px}
        .one_column ul#product_list li.grid_4{margin:0 25px}
        /*-------------Contenido CMS--------------*/
        .CMScontent1000{width:768px;height:auto;}
        .CMScontent500{width:384px;height:auto;}
        .CMScontent385{width:256px;height:auto;}
		.CMScontent298{width:192px;height:auto;}
    	}
	
	
	/* Small Tablet Portrait size to standard 600 (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		/*theme*/

		body{-webkit-text-size-adjust: none; font-size:14px !important;}
		#footer div h4{margin:0}
				/*body{-webkit-text-size-adjust: none; font-size:14px !important;}*/
		div#center_column.grid_24.omega.alpha{margin-top: 0px;}
		form#searchbox {margin-left: 0px!important;}
		#index #menu .cs_mega_menu_cat {margin-top: 12px!important;}
		#header #cart_block,
		#left_column,#right_column{display:none!important}
		.ambiance-default, .ambiance-success, .ambiance-error{margin:10px 0;width:265px!important}
		form#searchbox{width:100%;margin-left: -1px;}
		#menu,.sf-contener{display:none}
		#toTop{display:none!important}
		
		.cs_revolution{width:100%;margin:0 0 10px;}
		#featured-products_block_center{width:100%}
		.home_top_tab_category .list_carousel ul{width:104%}
		.home_top_tab_category .list_carousel li{float:left;width:130px;margin-right:15px;}
		.cs_right_cat_tab{margin-bottom:20px;}
		.container_24 .grid_14{width:100%;margin:0 0 10px;}
		
		.cs_top_banner_footer ul li{width:100%;margin:0 0 20px;}
		.cs_top_banner_footer ul li a img{width:100%}
		#footer .cs_lastest_new, #footer .block, #footer .block_various_links .block, #footer #block_contact_infos{width:100%;margin-right:0;border-bottom:none;position:relative;min-height:20px;margin-bottom:0}
		#footer .cs_lastest_new h4, #footer .block_various_links .block h4, #footer #block_contact_infos h4{margin-bottom:0!important}
		#footer .cs_lastest_new .block .cs_content, #footer .block_various_links .block ul, #block_contact_infos ul{padding:15px 25px}
		#footer .block{height:auto;background-color:#f0f0f0;}
		.fondo-container{display:none;}
		#footer  #secure_payment{height:auto;}
		#footer  #secure_payment img{margin:10px 8px;}
		#footer #secure_payment h4 {margin-top:0;float:none;padding: 10px 50px;text-align: center;border:1px solid #ededed;}
		#footer #secure_payment{margin-top:0;background-color:#fff;text-align:center}
		
		.static-footer-follow{float:left}
		.static-footer-follow h4{padding-left:0!important}
		
		.sortPagiBar .nbrItemPage,
		.content_sortPagiBar .sortPagiBar #productsSortForm{float:left;margin-left:0}
		
		.content_scene_cat{width:100%}
		
		ul#product_list li,
		.accessories_block ul#product_list li{margin:0!important}
		
		#pb-right-column,#pb-left-column{width:100%!important;margin:0 0 0;}
		#more_info_block{border:none;box-shadow:0 0 0 #fff}
		.content_hide_show{margin-bottom:20px!important;}
		
		#order-detail-content,#block-history,#block-history .table_block{overflow-x:auto;width: 420px;}
		#address form.std p.required label, #address form.std p.text label, #address form.std p.textarea label{width:100%;margin:0;text-align:left}
		#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume{width:100%}
		
		#listpage_content div.categTree,
		#sitemap_content div.sitemap_block{width:100%;margin-bottom:20px}
		ul#product_list{margin-left:0;}
		form.std label, form.std p span{width:100%;text-align:left;display:block;float:none}
		p.checkbox label{display:inline}
		#stores-table{display:none}
		
		#product_comparison td.td_empty{width:150px;}
		#new_comment_form{width:100%}
		#new_comment_form .product img{margin-right:0;max-width:100%;float:none}
		#new_comment_form #criterions_list .star_content{margin:0}
		#new_comment_form #criterions_list label{margin-right:5px}
		#create-account_form, #authentication #login_form{width:100%!important;margin:0 0 20px!important;}
		#account-creation_form .account_creation{width:100%;margin-bottom:20px;}
		form#compare_shipping_form #compare_shipping p select{width:100%}
		form#compare_shipping_form #compare_shipping p input#zipcode{width:96%}
		ul.address{width:100%;margin:0 0 20px!important;}
		
		#sitemap_content div.sitemap_block,
		#listpage_content div.categTree{width:90%;margin-bottom:20px;}
		
		#search_block_top #search_query_top{width:86%}
		

		#currencies_block_top,#header_right #languages_block_top{float:right;margin:2px 0 0 20px;}
		#currencies_block_top{clear:both}
		
		
		.cart_quantity .cart_quantity_input{left:-3px}
		.hook_csslide_new{width:100%;float:none}
		#header_user #shopping_cart{z-index:100}
		.zoomdiv{display:none!important}

		.cs_home_filter_product .products_content_tab .slide_image,
		.cs_home_filter_product .products_home_filter_product{width:400px;padding:10px;border:none;}
		ul#product_list li, .accessories_block ul#product_list li{width:49.5%;margin:0}
		
		#page .cart_voucher input.discount_name{width:236px;}
		.ac_results {   width:375px !important;}
		#header_user #shopping_cart{top:59px}
		#megamenu-responsive li.parent > p{margin-top:5px;}
		.show_hide_footer{top:7px}

		ul#order_step {margin:0;}
		#global{margin-left: 9px;margin-bottom: 114px;}
		#more_info_block{max-width: 412px;height: 260px;}
		#marco {width: 5px;height: 267px;}
		#imagenMarco{margin-top: -265px;margin-left: -2px;}
		#imagenMarco2{margin-top: -267px;margin-left: 389px;}
		#carousel-productscategory li {width: 204px !important;}
		#our_price_display{float:none; font-size: 21pt;margin-top: -11px;}
		#add_to_cart{width: 226px;}
    	.blockproductscategory a.btn.prev {right: 411px!important;}
    	.blockproductscategory a.btn {top: 234px!important;right: 0px!important;}
		#contenedor1 {margin-left: -7px!important;}
		#textosseo{height: 730px!important;margin-top: 80px!important;}
		#elementos_redes{width: 91%!important;margin-top: 29px;}
		/*#formula_medica{margin-top:-220px!important;margin-left: 372px!important;}*/
		#fabricante{width: 26%!important;}
		#more_info_sheets #idTab1 {height: auto!important;line-height: 14px!important;}
		#more_info_sheets{width:418px!important;background-color: #fafafa;height: 127px;margin-left: -9px;padding:0 0 20px;line-height: 14px!important;}
		/*#pb-right-column #image-block{height: 255px!important;}*/
		#thumbs_list ul#thumbs_list_frame {left: -4px!important;}
		#price{margin-top:-265px!important;margin-right: -23px!important;}
		#short_description_content {width: 100%;}
		/*#conteDescuento {margin-left: 10px;}*/
		#tituloProducto{width: 68%;}
		.cs_cart_quantity{margin-top: -3px;}
		/*#formula_medica{margin-top: -226px!important;margin-left: 371px!important;}*/
		/*#logoPrecio {float: left;margin-top: -225px!important;margin-left: 0;}*/
		/*#view_full_size{width: 244px;margin-left: 87px;}*/
 		#linea2{width:115px!important;}
 		#linea{width:115px!important;}
 		#mediosPagos {display: none;}
 		#redes_sociales{margin-right: -236px;margin-top: -210px;}
 		#compraSegura{display: none;}
 		#informac{display: none;}
 		#imagenMarco{display: none;}
 		#imagenMarco2{display: none;}
 		#marco {width: 5px;}
 		#labelPrecio{top:21px;font-size: 13pt;left: 3px;}
		#formulaMedica1 {margin-top: 0px;}
		#image-block{height: 239px;}		
		#add_to_cart{width: 238px!important;margin: 20px 0 0 90px;}
		#elei{width: 220px !important;}
		#thumbs_list {width: 420px;margin: 0px;position: relative;left: 14px;right: 0px;}
		#thumbs_list a.btn.next{left:403px!important;}
		#thumbs_list a.btn.prev{left: -24px!important;}
		#more_info_sheets p{margin-left: 0px;width:auto;line-height: 14px!important;padding: 2px;}
		#scro {width: 99%;}
		#pb-right-column{height: 296px;}

		#sele{top: 152px!important;}
		.resumen {top: 330px;}
		/*-----------------header--------------------*/
		#header_logo .logo{display:none;}
		#header_logo .logo_small{display:block;}
		.shopping_cart_small{display:inline-block;}
		.block_permanent_links{height:0;width:0;overflow: hidden;padding:0;}
		#search_block_top{margin:0 14px;}
		#search_block_top #search_query_top {width: 185px;height: 36px;font-size: 11px; padding:0 9px;}
		#search_block_top form#searchbox{margin: 0 9px;height:36px;}
		.header_account_avatar{margin: 0;}
		.main_logo{padding-right:5px;height:auto;vertical-align: middle;height:50px;background-color:#fff;}
		.main_logo .logo{height:50px;}
		.main_logo:after{border-width: 25px 0 25px 8.3px;}
		.flecha_logo{height:50px;}
		.shopping_cart#shopping_cart a img{height:59px;}
		.shopping_cart#shopping_cart a span{top:7px;}
		#header_user_info a{font-size: 10px!important}
		.sf-contener_small{display:block;}
		
		.header_account_info, .header_account_avatar{display:none;}
		#search_block_top .button{height: 32px;}





		/*#contenedorProducto {width: 117%!important;margin-top: 15px!important;margin-right: -85px!important;}*/
		div#total_tax.price{float:left;}
		#seleccionPago{width: 101%!important;}
		
		/*-----------------listado de productos relacionados-------------------------*/
		#elei{margin: 0 3px !important;}
		/*--------------------------------------------------*/
		
		#tamanoCuadroContenido {height: 937px;}
		#featured-products_block_center .block_content{height: 1268px!important;}
		/*#featured-products_block_center .block_content li.ajax_block_product.item{height: 449px!important;}*/
		#new-products_block_right .new_content{height: 248px;}
		#pepito h4.title_block{text-align: center;}
		#new-products_block_right li {width: 180px!important;margin-right: 0px!important;}
		.bloque1 {min-width: 420px!important;}
		.bloque1 input[type="text"] {left: 92px!important;}
		.celda1 input {left: 97px!important;}
		.cs_home_filter_product .products_content_tab {width: 418px!important;}
		.cs_home_filter_product .products_content_tab .slide_image li h3 {text-align: center!important;}
		.shop_new_1 a, .shop_new_2 a, .shop_new_3 a {width: 92%!important;}
		#new-products_block_right li a.product_image {height: 180px!important;}
		.name_product h3, h3.name_product {text-align: center;}
		#new-products_block_right p.title_block, #new-products_block_right h4 {text-align: center!important;}
		.bloque1 input[type="text"] {left: 100px!important;}
		.celda1 input {left: 102px!important;}
		/*#add_to_cart input#btnComprar {margin-left: -507px!important;}*/
		
		.seguridad{width:43%;}
		.medios_pago{width:56%;}
		.imagen_medios{width:47px;}
		
		.regform #days, .regform #months, .regform #years{width:31%}
		.imagenAyuda {margin-right: -30px;}
		#primerHole{margin-top:20px;width: 100%;}
		#segundoHole{margin-top: 20px;float: left;width: 100%;}
		#tercerHole {width: 100%; float:left;}
		#tercerHole p {margin-left: 10px;}

		#mainDiv{float:none;margin:auto;}
		#global2{float:none;margin:auto;}
		#disponible{float:none;margin:auto;margin-top:8px;width: 183px;}
		#boton{float:none;}
		#our_price_display2{width:100%;float:none;/*margin-left: -3px*/}
		#cabeceraTitulo{margin-top: 155px;}

		#thumbs_list_frame{width:376px !important;margin-left:16px!important;}

		/*-------------------shopping-cart------------------------*/
		.cart_quantity, .cart_total, .cart_delete, .cart_unit{height: auto !important; display: initial; margin:auto !important;float:left !important;}
		.cart_product{height: auto !important; display: initial; margin:10px !important;float:left !important;background-color:#0088CC;}
		#cajon{display:none;}
		#contenedorGrande{top:15px}
		.labels{display:initial !important;}
		#separador{float:left; display:block; margin:-8px;}
		#imagenProductoCompra { float: left;}
		.cart_delete{width:120px; float:left;text-align: center; padding: 8px 0 9px 0;background-color:#f0f0f0 }
		.cart_quantity{width:155px!important; float:right; padding:10px 0; text-align: left !important}
		.cart_ref{display:none !important;}
		#boxnefi{display:none;}
		#cupon{width: 97% !important;}
		#boxmedisp{width: 100% !important;}
		#boxmedisp:hover{width: 100% !important;}
		div#total_tax.price {margin-left: 403px;}
		#tercerLabel {margin-left: 240px;}
		#cuartoLabel {margin-left: 299px;}
		#quintoLabel {margin-left: 352px;}
		#sextoLabel {margin-right: 293px;}
		ul#order_step {width: 100%;}
		.totaLabel{margin-left: -34px;width: 125px;}
		#contenedorProductos{width: 100% !important;height: auto;display: block;margin: -20px 0 20px 0;overflow-x: auto;overflow-y:hidden; }
		.listado_carrito { width: 100% !important; float: left; }
		.cart_product{ margin-left: 5px; }
		#imagproducto { width: 99px;height:66px }
		#contenedor3contenidos {width: 418px !important;height: auto !important;margin-bottom: 20px !important;text-align: center !important;}
		#fila1mp{float: left;height: 100%;width: 92%;}
		.table_block#order-detail-content{width:400px!important;}
		.sep_vert, .sep_hor{display:none;}
		.cantinterna{width:auto !important}
		.cart_description{padding:10px 0 !important}
		.cart_description {height:38px !important}
		.cart_product{width:99px!important; margin:10px;}
		.cart_unit { width: 120px !important; float:left !important; padding-bottom:15px;}
		.cart_total{width: 280px !important;padding:9px 0;text-align: center; background-color: #F0F0F0;clear:left}
		#cupon{width:265px !important;}
		.en_cuenta{display:none}
		#label_subtotal{display: block !important}
		/*-----------------------lista-pasos-------------*/
		ul#order_step{text-align: center;}
		.contenedortotal{float:none !important;margin:auto !important}
		.cart_navigation1{margin-top: 0 !important; width:100% !important;margin-bottom:15px;}
		#atras6{float:left}
		#processCarrier2{float:right}
		#cart_title{margin: 0}
		.cart_navigation{margin-bottom: 10px;}
		ul.step li{min-width:110px;}
		ul.step li.step_todo, ul.step li.step_done, ul.step li.step_todo#step_end, ul.step li.step_done#step_begin{
					 display:inline-block;
					 height:16px;
					 width:auto;
					 margin:0;
					 border:1px solid #BABABA;
					 background: #fff;
					 background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F0F0F0));
					 background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
					 background: linear-gradient(#FFFFFF, #F0F0F0);
  					 -pie-background: linear-gradient(#FFFFFF, #F0F0F0);}
  		li.step_current#step_begin, ul.step li.step_current, ul.step li.step_current_end{
  					display:inline-block;
  					height:16px;
  					width:auto;
  					border:1px solid #58AE55;
  					background: #3A9B37;
					background: -webkit-gradient(linear, 0 0, 0 bottom, from(#58AE55), to(#3A9B37));
					background: -moz-linear-gradient(#58AE55, #3A9B37);
					background: linear-gradient(#58AE55, #3A9B37)!important;
  					-pie-background: linear-gradient(#58AE55, #3A9B37);}
  		span label.etc{display:initial}
  		span label.complemento{display:none}
		/*---------------direccion-------------*/
		.direccion{padding:10px 0}
		.nombre-direccion, .detalle-direccion, .estado-direccion, .ciudad-direccion{text-align:left!important;}
		.radio-direccion{display: block !important;width:10%!important;height:20px!important;float:left !important;padding: 2px 0}
		.nombre-direccion{display: block !important;width:20%!important;float:left !important}
		.detalle-direccion{display: block !important;width:70%!important;float:left;}
		.estado-direccion, .ciudad-direccion{display:block !Important;width:35%!important;float:left;}
		.campoCorto{width:50% !important}
		.campoLargo{width:100% !important}
		.botones{width:100%!important; margin:13px 0;}
		#primera_columna{float:left; min-width:388px;}
		#nueva-direccion{float:right;}
		#processAddress{margin-top:0;}
		#processAddress2{margin-top:0;}
		/*--------------formula-medica-----------*/
		.formulario{width:50% !important;}
		.textapoyo, .textitulo, #nombremedico, #tarjeta, #dosis, #datepicker, #listeps{font-size:12px !important;}
		.item1, .item2, .item3{padding:5px !important;}
		.item2{margin-left:-15px;}
		#formula-medica{width:100% !important;}
		.item4{display:none !important}
		.item3 {width: 70% !important;}
		.item2 {width: 15%!important;}
		.item1 {width: 15%!important;}
		#carrier_area{margin-top:20px}
		.textitulo label{font-size:12px !important;}
		/*#div1, #div2, #div3, #div4{width:100% !important;padding: 10px !important;}*/
		.formulario, .formularioeps{width:100% !important;}
		.diveps{width:50%!important;}
		.descropcion{width:100%!important}
		.file-formula{width:100%!important}
		#div4 .descropcion{width:100%!important;}
		/*----------order-payment-----------------*/
		#contenedor_total{margin-top:20px;}
		.payment_module .image{width:50px!important;}
		.columna1,.columna2{width:100% !important;}
		#formfiles input.paymentSubmit{margin: 20px 0!important;}
		/*-------------Contenido CMS--------------*/
        .CMScontent1000{display:none;}
        .CMScontent500{width:458px;height:auto;}
        .CMScontent385{width:229px;height:auto;}
		.CMScontent298{width:229px;height:auto;}
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (min-width: 200px) and (max-width: 479px) {		
		/*#fancybox-wrap{top:100%!important;}*/
		/*theme*/

		.seguridad{width:43%;}
		.medios_pago{width:56%;}
		.imagen_medios{width:36px;}

		#new-products_block_right li {width: 261px!important;}
		div#center_column.grid_24.omega.alpha{margin-top: 0px;}
		form#searchbox {margin-left: 0px!important;}	
		.ac_results{width:238px!important}
		.cs_home_banner_block p img{width:100%}
		#footer .block_customer_service_links .block_content{padding-top:0;}
		#footer  .grid_4{margin-bottom:15px;}
		.sortPagiBar  .display{display:none!important}
		.content_sortPagiBar .sortPagiBar .compare{float:left;margin-left:0;clear:left}
		.content_sortPagiBar div.pagination ul.pagination{margin-bottom:7px;}
		input#addressInput{width:285px}
		#account-creation_form input.text, #account-creation_form #id_country, #account-creation_form #id_state{width:96%}
		.product_list li .image{width:100%;float:none;margin-right:0}
		.content_scene_cat {display: block;margin: 10px auto;overflow: hidden;width: 285px;}
		#page .cart_voucher input.discount_name{width:278px;}
		.cs_home_filter_product .products_content_tab .slide_image, .cs_home_filter_product .products_home_filter_product{width:280px;padding:10px;border:none}
		#header_user #shopping_cart{top: 50px;left: 242px;height: 60px;}
		.static-footer-payment h4{margin-bottom:0!important;padding-bottom:0!important}
		.static-footer-payment p.icon a{padding:0 10px 0 0}
		ul#order_step {margin: 18px 0;}
		.olvida{position: relative;top: -10px;left: 10px;}
		/*#view_full_size {width: 160px; margin-left: 53px;}*/
		#logoPrecio {float: left;width: 27%;}
		#fabricante{width: 32%;}
		#tituloProducto {width: 61%;margin-left: 124px;}
		#pb-left-column{float:left;}
		#mediosPagos{display: none;}
		#pb-left-column h1 {font-size: 10pt !important;}
		#cantidad {margin-top: 3px; font-size: 10px !important;}
		#product_reference{width: 302px;margin-left: 0px;margin-top: 35px;}
		#product_reference input{width: 18px;}
		#short_description_content{line-height: 13px;  height: auto; width: 100%; margin-left: 0px!important;}
		#disponibilidad{margin-top: 0px;float: left;}
		span.availability,span.cs_out_of_stock{margin-top:-28px!important;margin-left: -15px!important;color: #629841;font-family: 'Open Sans' !important, sans-serif;padding: 5px;font-weight: 700;font-size: 10px !important;float: left;}
		.dispo1{margin-top: -23px!important;margin-left: 45px!important;color: #629841;font-size: 10px !important;font-family: 'Open Sans', sans-serif;font-weight: 700;float: left;width: 70%;}
		#dispo2{color: #629841;font-size: 10px !important;font-family: 'Open Sans', sans-serif;padding: 0px;font-weight: 700;font-size:9pt}
		#dispo3{float:left;width: 62%;font-size: 10px !important;margin-left: 6px;font-family: 'Open Sans', sans-serif;margin-top: 18px;}
		#price {margin-left: -288px;margin-top: 98px!important;float: left;width: 224px;}
		/*#conteDescuento {width: 300px;}*/
		#add_to_cart {width: 336px!important;/*margin-top: 75px;*/}
		div #our_price_display{overflow: hidden;}
		#our_price_display{font-size: 25pt!important; /*float: left*/;text-align: center}
		#more_info_sheets{padding: 0 0 !important;margin-left: 0px;margin-top: 0px;width: 298px!important;height: auto!important;overflow: none;background-color: #fafafa;}
		#more_info_sheets p{width:256px!important;padding: 2px;}
		#more_info_block{max-width: 299px;height:55px;box-shadow: 0 3px 1px #f0f0f0;margin-left: -9px;}
		#imagenMarco {margin-top: -301px;margin-left: -9px!important;display: none;}
		#imagenMarco2{margin-top: -301px;margin-left: 288px;display: none;}
		#marco {width: 5px;}
		#fabricante {width: 36%;}
		#redes_sociales {margin-right: 433px!important;margin-top: 96px!important;}
		#elementos_redes{margin-top: 9px!important;/*margin-left: 36px;*/}
		#in{background-image: url('../img/icon/producto/in.png');width: 97%;height: 29px;margin-left: 0px;}
		#goog{margin-top: -29px;margin-left: 77px;background-image: url('../img/icon/producto/g.png');width: 97%;height: 29px;}
		#twit{margin-top: -29px;margin-left: 156px;background-image: url('../img/icon/producto/t.png');width: 97%;height: 29px;}
		#face{margin-top: -29px;margin-left: 240px;background-image: url('../img/icon/producto/f.png');width: 97%;height: 29px;}
		#labelFormula{color: #8D2F2B;font-size: 13px;margin-top: 14px;float: left;margin-left: 2px;width: 218px;}
		#labelPrecio{ /*float: left*/;text-align: center}
		#global{margin-left: 9px;margin-bottom: 114px;}
		
		.imagenAyuda {display:none;}
		#primerHole{margin-top:20px;width: 100%;}
		#segundoHole{margin-top: 20px;float: left;width: 100%;}
		#tercerHole {width: 100%; float:left;}
		#tercerHole p {margin-left: 10px;}
		.currentOpcion, .opcionCuenta{padding: 0;height:35px;}
		.titoption{width:100%!important}
		.regform{width:100%;}
				
		/*-----------------listado de productos relacionados-------------------------*/
		#elei{margin: 0 34px !important;}
		/*--------------------------------------------------*/

/* 		#productscategory_list li {padding: 38px 0 0!important;}
		#productscategory_list li a.lnk_img img {margin-left: -92px!important;}
		#botonComprar {top: 301px!important;} */
    	.blockproductscategory a.btn.prev {right:289px!important;}
    	.blockproductscategory a.btn {top: 250px!important;right: 0px!important;}
    	/* #productscategory_list {margin-left: 29px;} */
		#contenedor1{margin-left: 0px!important;}
		#textosseo{margin-top: 180px!important;height: 900px!important;width: 99%!important;margin-left: 0px!important;}
		#textoSeo{margin-left: 0px!important;text-align: justify!important;}
		#pb-right-column #image-block {height: 180px;width: 282px;}
		/*#formula_medica {margin-top:-166px!important;margin-left: 263px!important;width: 37px;}*/
 		#compraSegura{display: none;}
 		#informac{display: none;}
 		#imagenMarco{display: none;}
 		#imagenMarco2{display: none;}
		#formulaMedica1 {margin-top: 34px;margin-left: 0px;margin-bottom:-20px}
		#cabeceraTitulo{float: right;margin-top: -316px;width: 300px;}
		#pb-right-column{margin-top: 89px;height: 199px; width:300px;}
		#pb-right-column #image-block  img#bigpic{margin-left: 0px!important;margin-top: -53px!important;}
		#thumbs_list {width:114%!important;left: 30px!important;top: 30px;}
		#thumbs_list a.btn.next{left: 256px!important;top: 7px!important;}
		#thumbs_list a.btn.prev{left: -28px;}
		#pb-right-column #views_block {padding: 0 0;}
		.cs_cart_quantity{margin-top: -5px;}
		#more_info_sheets ul.bullet {margin: 0;margin-left: 21px;}
		#scro{overflow: auto!important;height: 58px!important;width:100%;}
		.caroufredsel_wrapper {margin: 0!important;width: 245px!important;} 
		.cs_home_filter_product .products_content_tab .slide_image li h3 {text-align: center!important;}
		.name_product h3, h3.name_product {text-align: center!important;}
		.sf-menu{padding-left:0px!important;}
		#page .sf-contener{display: none;}
		#menu .cs_mega_menu_cat {display: none;}
		#footer .cs_lastest_new, #footer .block_various_links .block, #footer .block, #footer #block_contact_infos {height: auto;width: 100%;margin-right: 0;border-bottom: none;position: relative;min-height: 20px;margin-bottom: 0;}
		#footer .title_block, #footer h4 {padding: 8px 25px;margin:0;}
		#search_block_top {top: 30px;}
		#search_block_top #search_query_top {width: 85%;}
		#nombreCarrito{display: none;}
		#header_user #shopping_cart a { padding-top: 0px!important;  padding-left: 0px!important; 	}
		#header_user span{position: relative;top: 0px;left: 0px;}
		form#searchbox{width: 100%!important;}
		
		#new-products_block_right {margin-top: -100px;}
		.bloque1 {min-width: 300px!important;}
		.bloque1 input[type="text"] {left: 36px!important;}
		.celda1 input {left: 42px!important;}
		.container_24 .grid_14 {width: 292px!important;}
		.cs_home_filter_product .products_content_tab {width: 285px!important;}
		#new-products_block_right li a.product_image{height: 262px!important;}
		#add_to_cart input#btnComprar {margin-left: -83px!important;}
		#add_to_cart input#btnComprar:hover {margin-left: -83!important}
		#contenedorPrecio {width: 100%;float: left;margin-left: 86px;}
		#sele{top: 234px!important;}
		#seleccionPago {width: 100%!important;}
	   
	   .social_logo_container{width:100%}
	   	#footer .block{height:auto;background-color:#f0f0f0;}
		.fondo-container{display:none;}
		#footer  #secure_payment{height:auto;}
		#footer  #secure_payment img{margin:10px 8px;}
		#footer #secure_payment h4 {margin-top:0;float:none;padding: 10px 50px;text-align: center;border:1px solid #ededed;}
		#footer #secure_payment{margin-top:0;background-color:#fff;text-align:center}

		
		#pb-left-column {float: left;width: 100%;}
		#mainDiv{float:none;margin:auto;}
		#global2{float:right;margin:auto;}
		#disponible{float:none;margin:auto;margin-top:8px;width: 183px;}
		#boton{float:none;}
		#our_price_display2{float: none;}
		/*#labelPrecio{float:left;}*/
		/*#our_price_display{float: right;}*/
		/*#thumbnail_{$image.id_image}*/
		#thumbs_list_frame{width:261px !important;}
		.zoomdiv {display: none!important;}
		#page #columns #info_confirm p{font-size: 11px;margin-bottom: 0;}

/*-------------------shopping-cart------------------------*/
.cart_product, .cart_quantity, .cart_total, .cart_delete, .cart_unit{height: auto !important; display: initial; margin:auto !important;float:left !important;}
#cajon{display:none;}
#contenedorProductos{width: 100% !important;height: auto;display: block;margin: 0 0 20px 0;overflow-x: auto;overflow-y:hidden; }
.labels{display:initial !important;text-indent: initial; font-size:10px !important;color:#999;margin-top:2px;}
#separador{float:left; display:block; margin:-8px;}
.cart_description { width: 208px; float: none; display: table-cell; vertical-align: middle; text-align: center; height: 40px !important;}
#descripcioNombre { text-align:left; float: left!important; margin-top: 0px; min-width:205px;}
#contenedorCantidades{padding-top: -2px}
.cart_product{width:auto !important; padding-top:10px;}
.cart_unit { display: initial; width: 108px !important; float:right !important;}
.cart_total{width: 214px !important;float: left !important;margin-top:10px !important;padding:9px 0 !important;display: inline-block !important;vertical-align: middle !important;text-align: center !important; background-color: #F0F0F0}
.cart_delete{width:86px !important; float:left !important; margin-top:10px !important; text-align: center !important; padding: 9px 0 !important;background-color:#f0f0f0 }
.cart_quantity{width:198px; float:left; padding:5px 0; text-align:left !important;}
#imagproducto { width: 75px;height:50px }
.cart_ref{display:none !important;}
#boxnefi{display:none;}
#boxmedisp {display:none !important;}
#envioGratu{font-size: 8pt;}
#primerLabel{padding: 0;text-align: left;font-size: 8pt;margin-left: 0px;}
#segundoLabel{width: 100%;float: left;font-size: 8pt;}
#tercerLabel {margin-left: 0px;}
#cuartoLabel {margin-left: 222px;}
#quintoLabel {margin-left: 246px;}
#sextoLabel {margin-right: 196px;}
#contenedor3contenidos {width: 298px !important;height: auto !important;margin-bottom: 20px;}
#descuentoValor {font-size: 8pt;}
.sep_vert, .sep_hor{display:none;}
.en_cuenta{display:none}
.table_block#order-detail-content{margin:0 !important; width:100% !important}
#label_subtotal{display: block !important}
.contenedortotal{margin:0 !important; float:none !important}
/*------------------lista-pasos-------------------*/
ul.step li.step_todo span, ul.step li.step_current span, ul.step li.step_done span {font-size: 10px !Important}
ul#order_step{width:100%; text-align: center; margin:0;}
.contenedortotal{width: 100% !important;}
#cupon{width:auto !important}

.cart_navigation1{float:none !important; width:100%}
#atras6{float:left}
#processCarrier, #processCarrier2{float:right; width:144px!important}
#cart_title{margin: 0}
.cart_navigation{margin-bottom: 10px;}
ul.step li a{font-size:inherit}
/*ul.step li.step_done{height:13px}*/
		ul.step li,ul.step li span label{font-size:10px!important}
		ul.step li.step_todo, ul.step li.step_done, ul.step li.step_todo#step_end, ul.step li.step_done#step_begin{
					 height:13px;
					 width:auto;
					 display:inline-block;
					 margin:0;
					 min-width:55px;
					 border:1px solid #BABABA;
					 background: #fff;
					 background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F0F0F0));
					 background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
					 background: linear-gradient(#FFFFFF, #F0F0F0);
  					 -pie-background: linear-gradient(#FFFFFF, #F0F0F0);}
  		li.step_current#step_begin, ul.step li.step_current, ul.step li.step_current_end{
					height:13px;
					width:auto;
  					display:inline-block;
  					min-width:55px;
  					border:1px solid #58AE55;
  					background: #3A9B37;
					background: -webkit-gradient(linear, 0 0, 0 bottom, from(#58AE55), to(#3A9B37));
					background: -moz-linear-gradient(#58AE55, #3A9B37);
					background: linear-gradient(#58AE55, #3A9B37)!important;
  					-pie-background: linear-gradient(#58AE55, #3A9B37);}
  		span label.etc{display:initial}
  		ul.step li.step_todo span {font-size: 10px !important}
  		
  		span label.complemento{display:none}
/*---------------direccion-------------*/
		.direccion{padding:10px 0}
		.nombre-direccion, .detalle-direccion, .estado-direccion, .ciudad-direccion{text-align:left!important;}
		.radio-direccion{display: block !important;width:10%!important;height:45px!important;float:left !important;padding: 2px 0}
		.nombre-direccion{display: block !important;width:90%!important;float:left !important}
		.detalle-direccion{display: block !important;width:90%!important;float:left;}
		.estado-direccion, .ciudad-direccion{display:block !Important;width:45%!important;float:left;}
		.campoCorto{width:50% !important}
		.campoLargo{width:100% !important}
		.cancelar {width:130px !Important;margin-right: 0!important;}
		.botones{width:100%!important; margin-bottom:10px;}
		#primera_columna{float:left; min-width: 268px}
		#nueva-direccion{float:right;}
		#processAddress{margin-top:0;}
		#processAddress2{margin-top:0;}

/*--------------formula-medica-----------*/
.formulario{width:50% !important;}
.textapoyo, .textitulo, #nombremedico, #tarjeta, #dosis, #datepicker, #listeps{font-size:12px !important;}

.textitulo label{font-size:12px !important;}
		#formula-medica{width:100%!important;}
		#div1, #div2, #div3, #div4{padding:10px !important}
		#div1rb, #div2rb, #div3rb, #div4rb{width:25px!important}
		.item4{display:none !important}
		.item3 {width: 70% !important;}
		.item2 {width: 15%!important;}
		#carrier_area{margin-top:20px}
		.formulario, .formularioeps{width:100% !important;}
		.diveps{width:100%!important;}
		#radioParticular, #epsradio{width:50%!important;}
		.descropcion{width:100%!important}
		.file-formula{width:100%!important}
		#div4 .descropcion{width:100%!important;}
		/*----------order-payment-----------------*/
		.columna1,.columna2{width:100% !important;}
		.columna2{margin-top:20px;}
		#textoseguridad{display:none !important;}
		#contenedorPrecio{width:300px !important}
		.payment_module{text-align:left !important;}
		.payment_module .image{width:55px!important;margin: 0 10px!important}
		.columna2 .productoTamano{margin:10px!important;}
		#opciones{width:92%!important;padding: 10px 0 10px 8%!important}
		.payment_module{font-size:12px!important;}
		img.trust_img {margin-left:10px;}
		#formfiles input.paymentSubmit{margin-right: 50px;}
		.recordatorioPSE{width:100%!important;}
		.cardAttr{width:100%!important;}
		p.contendfrom{width:89%!important;}

		/*--------------------validacion------------*/
		input.botonconfirmar, .botonconfirmar{width:140px;font-size: 13px}
		a.botonotras{font-size: 13px}
		/*----------------------product-list-----------------*/
		.center_block_search{float:none!important; width:260px!important;}
		.center_block_search {width:180px!important;height:232px;}
		.one_column ul#product_list li.grid_4{margin:0}
		/*-------------barra de leads---------------*/
		.titulo-pasos{margin-top:85px;margin-bottom:10px}
		/*-----------------header--------------------*/
		#header_logo .logo{display:none;}
		#header_logo .logo_small{display:block;}
		.shopping_cart_small{display:inline-block;}
		.block_permanent_links{height:0;width:0;overflow: hidden;padding:0;}
		#search_block_top{margin:0 8px;}
		#search_block_top #search_query_top {width: 132px;height: 36px;font-size: 11px; padding:0 0 0 9px ;}
		#search_block_top form#searchbox{margin: 0 9px;height:36px;}
		.header_account_avatar{margin: 0;}
		.main_logo{padding-right:5px;height:auto;vertical-align: middle;height:50px;background-color:#fff;}
		.main_logo .logo{height:50px;}
		.main_logo:after{border-width: 25px 0 25px 8.3px;}
		.flecha_logo{height:50px;}
		.shopping_cart#shopping_cart a img{height:59px;}
		.shopping_cart#shopping_cart a span{top:2px;}
		#header_user_info a{font-size: 10px!important}
		.sf-contener_small{display:block;}
		.header_account_info, .header_account_avatar{display:none;}
		#search_block_top .button{height: 32px;width:32px;}
		.menu-toggle {text-indent: -9999px;overflow: hidden;}
		.menu-toggle > p {left: 60px!important;}
		.header_account_info_small .header_account_label_small{margin:0;padding:0; width:0;height:0;overflow:hidden;visibility:hidden;}
		#search_block_top .button {background-image: url("../img/btn_search_small.png");}
		#page #search_block_top .button:hover {background-image: url("../img/btn_search_small_hover.png");}
		#page #search_block_top .button:active {background-image: url("../img/btn_search_small_active.png");}
		.shopping_cart3{display:none;}
		.shopping_cart4{display:block;}
		.cs_revolution{width:298px;height:127px;}
		.slotholder img{width: 298px;height: 127px;}
		/*-------------Contenido CMS--------------*/
		.CMScontent1000{display:none;}
		.CMScontent500{display:none;}
		.CMScontent385{width:298px;height:auto;}
		.CMScontent298{width:298px;height:auto;}
}