/**
 * shopping-cart.css
 * Elaborado Por: Esteban Rincon Correa
 * Para: farmalisto.com.co
 */
.std{
    margin: 20px auto 10px auto;
border-collapse: inherit;;
}
.bloque1, .sf-contener, .cs_mega_menu, #megamenu-responsive, .manufacturerContainer
{
display:none!important;
}

#cupon{
  width:273px;
  background-color:#f0f0f0;
  height: auto;
  float: none;
  min-width: 120px;
  padding:10px;
  margin-bottom:5px;
} 


#boxmedisp
{
width: 30%;
height: auto;
margin: 3px 3px;
padding: 5px 3px;
float: left;
min-width: 200px;
background-image: none;
background-repeat: no-repeat;
background-color: #ffffff;
border-width: 0px;
color: #ffffff;
} 

#boxmedisp:hover
{
width: 30%;
height: auto;
float: left;
min-width: 200px;
background-image: none!important;
background-repeat: no-repeat;
background-color: #ffffff;
border-width: 0px;
color: #ffffff;
} 

#boxnefi
{
    
  width: 32%;
  height: auto;
  margin: 3px 3px;
  padding: 5px 3px;
  float: left;
  min-width: 200px;
} 
.cart_navigation1{
  float: right;
}

.cantinterna #contenedorCantidades {
  border: 0px !important; 
  line-height: 32px !important;
}

.cart_quantity_input {
float:left;
width: 25px !important;
height: 100% !important;
position: relative !important;
top:-3px !important;
left:auto !important;
}
.cart_quantity_up {
float:left;
height: 100%;
padding:0 0 0 5px;
}
.cart_quantity_down {
float:left;
height: 100%;
padding:0 5px 0 0;
}
.cantinterna
{
  float: right;
  width: 125px;
  height: 24px;
}
.boton
{
  height: 100%;
  margin-top:-2px;
}

.btn-delete {
  height: 50%;
      margin-top: 10px;
}


.labels
{
  font-weight: 400;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px/1.35;
}

.labels #delete {
  display: initial;
  width: 100%;
  height: 100%;
}

.price
{
  font-weight: 600;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
}
#contenedor3contenidos
{
border-radius: 6px;
border: 1px solid #E7E7E7;
xborder-collapse: collapse;
width:715px;
float:left;
margin: 10px 10px 0 0;
}
#segundoLabel
{
text-align: left;
margin-top: 102px;
}
#tercerLabel
{
margin-top: -17px;
margin-left: 827px;
}
#cuartoLabel
{
margin-top: -18px;
margin-left: 888px;
}
#quintoLabel
{
margin-top: -35px;
margin-left: 938px;
}
#sextoLabel
{
margin-top: -18px;
margin-right: 881px;
}
#precioContenedor
{
float: right;
}
#descuentoValor
{
float: left;
color:#676767;
}
#descripcioNombre
{
margin-left: 0px!important;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
color: #676767;
font-weight: 600;
}
#fila1mp
{
float: none;
height: 100%;
width: 100%;
}
#cupon input
{
border-radius: 3px;
}



#imgvisa
{
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/visa.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgamex
{
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/amex.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgmaster

{
    
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/master.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgdiners{
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/diners.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgpse{
 width:33px;
height: 33px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/pse.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgbaloto{
    width:22px;
height: 33px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/baloto.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgdiscr
{
display:table-cell;
vertical-align: middle;
width:45px;
height: 26px;
}



#imgefecty{
    width:51px;
height: auto;
border:none;
background:url(../img/mediosp/efecty.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}  
.cart_navigation,.cart_navigation1{display:inline-block}
.cart_navigation{

width:99% ;
margin:0;
margin-bottom:20px;
}
#processCarrier, #processCarrier2
{
  box-shadow: 0px 1px 5px 1px #c8c8c8;
  transition: none;
  height: 40px;
  line-height: 40px;
  width: 288px;
  color: #FFF;
  text-align: center;
  text-transform: none;
  font-size: 11pt;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-image: none;
  background-color: #ff922E;
  border: #ff922E solid 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#processCarrier:hover, #processCarrier2:hover
{
background-color:#D66A06 !important;
background-image:none !important;
}
#processCarrier:active, #processCarrier2:active
{
background-color:#fff !important;
color:#FF922E !important;
border:#FF922E solid 1px;
}
#atras6, #atras1
{
margin-right:5px;
transition:none;
padding:7px 0;
width:140px;
color:#FFF;
text-align:center;
text-transform:none;
font-size: 13px;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
background-image:none;
background-color:#39cb98;
border:#39cb98 solid 1px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
#atras6:hover, #atras1:hover
{
background-color:#399e98 !important;
background-image:none !important;
color:#FFF;
}
#atras6:active, #atras1:active
{
background-color:#fff !important;
color:#39cb98 !important;
}



.product_titles {
color: #FFF;
background: #3A9B37;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#58AE55), to(#3A9B37));
background: -moz-linear-gradient(#58AE55, #3A9B37);
background: linear-gradient(#58AE55, #3A9B37);
  -pie-background: linear-gradient(#58AE55, #3A9B37);
font-weight: 600;
font-size: 12px;
font-family: 'Open Sans', sans-serif;
text-transform: capitalize;
text-align: center;
display:table-cell;
height:30px;
vertical-align:middle;
}
.product_titles p{font-size: 12px !important}
#productoLabel, .cart_product{width:155px}
#descripcionLabel, .cart_description{width:346px}
#precioLabel, .cart_unit{width:144px}
#cantidadLabel, .cart_quantity{width:177px}
#totaLabel, .cart_total{width: 122px;}
.cart_total {text-align: right !important;     padding-right: 16px;}
/*#deleteLabel .cart_delete{width:10px}*/

.cart_product, .cart_description, .cart_ref, .cart_unit, .cart_quantity, .cart_total
{
color: #969696!important;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
margin: 7px 5px 5px;
float: none;
display:table-cell;
vertical-align:middle;
max-height: 90px;
left: 50%;
top: 50%;
text-align: center;
}

.cart_delete{
  float: right;
      height: 40px;
    width: 40px;
    background: #F0F0F0;
    text-align: center;
}
.cart_product, .cart_ref, .cart_unit, .cart_quantity, .cart_total
{text-align:center}
.cart_description{text-align:left; padding:10px}
.cart_total_price, .cart_total_voucher, .cart_total_delivery, .cart_total_tax
{
  float:left;
  width:100%;
  font-size: 12px;
font-family: 'Open Sans', sans-serif;
color:#39cb98;
}
#primerLabel, #total_price
{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FF922E;
  float:left;
}
.price-discount
{
font-size: 12px;
font-family: 'Open Sans', sans-serif;
color:#39cb98;
float:right;
margin:0;
}
.discount_name
{
font-size: 12px;
font-family: 'Open Sans', sans-serif;
color:#39cb98;
float:left;
margin:0;
}
.cart_total_voucher a
{
font-size: 12px;
font-family: 'Open Sans', sans-serif;
color:#39cb98;
float:right;
margin:0;
font-weight:600;
}
.contenedortotal
{
  width: 288px;
  line-height: 30px;
  padding: 10px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 2px;
  box-shadow: 0px 0px 4px 1px #c8c8c8;
}
.totales
{
  float:right;
  font-weight: 600;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.imagen_medios
{
  width:51px;
  display:inline-block;
  padding:5px;
}
.titulo
{
  font-weight: 600;
  color:#399e98;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: none;
}
.beneficios
{
display: table-cell;
vertical-align: middle;
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size:10px;
}
.boxnefi2
{
display:inline-table;
float:left;
padding:5px 0;
}
.sep_vert{
height:90px;
display:none;
}
.sep_hor img {
  display: none;
}

.sep_hor {
height:1px;
vertical-align:top;
width: auto;
background: #C8C8C8;
}
.label_cupon
{
	font-size: 13px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	line-height:200%;
}

#submitAddDiscount
{
width:37%;
background-color:#39cb98;
background-image:none;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
text-transform:capitalize;
font-weight:600;
}
#submitAddDiscount:hover
{
background-color:#399e98 !important;
background-image:none !important;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
}
#submitAddDiscount:active
{
background-color:#FFF !important;
border:1px #39cb98 solid;
color:#39cb98 !important;
font-size: 12px;
font-family: 'Open Sans', sans-serif;
}
.en_cuenta
{
padding:10px;
margin-top:10px;
width:655px;
float:left;
border:#999 1px solid;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.mind_title
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FE922E;
}
.mind_content
{
	text-indent:-8px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	padding:10px 0 0 10px;
	line-height:20px;
}
.suc_dis
{
color:#FFF;
text-align:center;
background-color:#39cb98;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
text-transform:capitalize;
padding: 5px 0;
font-weight:600;	
}
.no_taxes
{
width:100%;
text-align:right;
font-size: 12px;
font-family: 'Open Sans', sans-serif;
}
p.label_cupon{font-size:13px !important}

 .product-message-out {
  font-family: 'OpenSansLight-Italic';
  font-size: 13px !important;
  color: #39cb98; 
  margin: 8px 0px;
  display: table-cell;
  float: left;
}

.cart_navigation {
  margin-top: 10px !important; width: 100%;}


.ctn-inferior-product {
  border-top: 1px solid #C8C8C8;
  width: 100%;
}

.cart_product #imagproducto {
  width: 85%;
}

.btn-cant-sumarrestar{
  box-shadow: 0px 1px 1px 1px #c8c8c8;
  line-height: 29px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #F0F0F0;
  text-align: center;
  color: #FF922E;
  font-size: 18px;
}