.bloque1{
    display:none!important;
}

#header{
    height: 176px;
}

/**
 * shopping-cart.css
 * Elaborado Por: Esteban Rincon Correa
 * Para: farmalisto.com.co
 */

#cupon{
  width: 30%;
  height: auto;
  margin: 3px 3px;
  padding: 5px 3px;
  float: left;
  min-width: 120px;
} 


#boxmedisp
{
width: 30%;
height: auto;
margin: 3px 3px;
padding: 5px 3px;
float: left;
min-width: 200px;
background-image: none;
background-repeat: no-repeat;
background-color: #ffffff;
border-width: 0px;
color: #ffffff;
} 

#boxmedisp:hover
{
width: 30%;
height: auto;
float: left;
min-width: 200px;
background-image: none!important;
background-repeat: no-repeat;
background-color: #ffffff;
border-width: 0px;
color: #ffffff;
} 

#boxnefi
{
    
  width: 32%;
  height: auto;
  margin: 3px 3px;
  padding: 5px 3px;
  float: left;
  min-width: 200px;
} 
.cart_navigation1{
  float: right;
  margin-top:-10px;
}

.cart_quantity_input {
float:left;
width: 20px !important;
height: 100% !important;
position: relative !important;
top:-3px !important;
left:auto !important;
}
.cart_quantity_up {
float:left;
height: 100%;
padding:0 0 0 5px;
}
.cart_quantity_down {
float:left;
height: 100%;
padding:0 5px 0 0;
}
.cantinterna
{
  width:119px;
  height:24px;
}
.boton
{
  height: 100%;
  margin-top:-2px;
}
.labels
{
  font-weight: 600;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px/1.35;
  display: none;
}
.price
{
  font-weight: 600;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
}
#contenedor3contenidos
{
border-radius: 6px;
border: 1px solid #E7E7E7;
xborder-collapse: collapse;
width:715px;
float:left;
margin: 0 10px 0 0;
}
#segundoLabel
{
text-align: left;
margin-top: 102px;
}
#tercerLabel
{
margin-top: -17px;
margin-left: 827px;
}
#cuartoLabel
{
margin-top: -18px;
margin-left: 888px;
}
#quintoLabel
{
margin-top: -35px;
margin-left: 938px;
}
#sextoLabel
{
margin-top: -18px;
margin-right: 881px;
}
#precioContenedor
{
float: right;
}
#descuentoValor
{
float: left;
color:#676767;
}
#descripcioNombre
{
margin-left: 0px!important;
font-size: 10pt;
font-family: 'Open Sans', sans-serif;
color: #946898;
font-weight: 600;
}
#fila1mp
{
float: none;
height: 100%;
width: 100%;
}
#cupon input
{
border-radius: 3px;
}
.cart_description
{
display:table-cell;
}


#imgvisa
{
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/visa.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgamex
{
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/amex.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgmaster

{
    
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/master.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgdiners{
width:51px;
height: 32px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/diners.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgpse{
 width:33px;
height: 33px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/pse.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgbaloto{
    width:22px;
height: 33px;
margin: 5px 5px;
border:none;
background:url(../img/mediosp/baloto.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}
#imgdiscr
{
display:table-cell;
vertical-align: middle;
width:45px;
height: 26px;
}

#imgefecty{
    width:51px;
height: auto;
border:none;
background:url(../img/mediosp/efecty.jpg)no-repeat top center;
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}   
#processCarrier
{
 padding: 0 0;    
width:146px;
height:41px;
border:none;
background:url(../img/formula-medica/btn-continuar.png)no-repeat top center;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 137px;
}

#processCarrier:hover
{
padding: 0 0;    
width:146px;
height:41px;
border:none;
border-style: none;

background:url(../img/formula-medica/btn-continuar-hover.png)no-repeat top center !important;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 137px;
}

   #processCarrier2
{
 padding: 0 0;    
width:146px;
height:41px;
border:none;
background:url(../img/formula-medica/btn-continuar.png)no-repeat top center;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 0px;
}

#processCarrier2:hover
{
padding: 0 0;    
width:146px;
height:41px;
border:none;
border-style: none;

background:url(../img/formula-medica/btn-continuar-hover.png)no-repeat top center !important;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 0px;
}



#atras1
{
padding: 0 0;  
width:146px;
height:41px;

animation: none !important;
border:none;
transition:none;
background:url(../img/formula-medica/btn-anterior.png)no-repeat top center;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 137px;
}
#atras1:hover
{
    
padding: 0 0;

animation: none !important;
transition:none;
width:146px;
height:41px;
border:none;
border-style: none;
background:url(../img/formula-medica/btn-anterior-hover.png)no-repeat top center !important;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 137px;
}

#atras6
{
padding: 0 0;  
width:146px;
height:41px;

animation: none !important;
border:none;
transition:none;
background:url(../img/formula-medica/btn-anterior.png)no-repeat top center;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 0px;
}
#atras6:hover
{
    
padding: 0 0;

animation: none !important;
transition:none;
width:146px;
height:41px;
border:none;
border-style: none;
background:url(../img/formula-medica/btn-anterior-hover.png)no-repeat top center !important;
  
 -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;margin-top: 0px;
}
.product_titles {
color: #969696 !important;
background: #666666;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E6E6E6), to(#fff));
background: -moz-linear-gradient(#E6E6E6, #fff);
background: linear-gradient(#E6E6E6, #fff);
  -pie-background: linear-gradient(#E6E6E6, #646464);
box-shadow: 0px 0px 3px #333;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
font-weight: 600;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
text-transform: capitalize;
text-align: center;
margin: 7px 5px 5px !important;
width: 155px; float: left;
}
.cart_product, .cart_description, .cart_ref, .cart_unit, .cart_quantity, .cart_total, .cart_delete
{
color: #969696!important;
font-weight: 600;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
margin: 7px 5px 5px;
float: none;
display:table-cell;
vertical-align:middle;
text-align:center;
height: 90px;
left: 50%;
top: 50%;
text-align: center;
}
.cart_ref
{
word-break: break-all;
word-wrap: break-word;
}
.cart_total_price, .cart_total_voucher, .cart_total_delivery, .cart_total_tax
{
  float:left; width:100%;
  font-size: 13px;
font-family: 'Open Sans', sans-serif;
}
#primerLabel
{
  float:left;
}
.price-discount
{
  float:right;
  margin:0;
}
.contenedortotal
{
  width:273px;
  float:right;
}
.totales
{
  float:right;
  font-weight: 600;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.imagen_medios
{
  width:51px;
  display:inline-block;
  padding:5px;
}
.titulo
{
  font-weight: 600;
  color:#399e98;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: none;
}
.beneficios
{
display: table-cell;
vertical-align: middle;
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size:10px;
}
.boxnefi2
{
display:inline-table;
float:left;
padding:5px 0;
}
