<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>icrlocation</name>
            <displayName><![CDATA[Asignaci&oacute;n de ICR a una ubicaci&oacute;n f&iacute;sica]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[Asignaci&oacute;n de ICR a una ubicaci&oacute;n f&iacute;sica dentro de la Bodega]]></description>
            <author><![CDATA[Farmalisto]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>