<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>sugarsync</name>
            <displayName><![CDATA[SugarCRM Data Sync Suites]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Data Sync Suites for PrestaShop SugarCRM Integration. Automatically synchronize Customers, Categories, Products, SalesOrder/Invoices.]]></description>
            <author><![CDATA[cartbooks.com]]></author>
            <tab><![CDATA[pricing_promotion]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>