<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>cancelarordenes</name>
            <displayName><![CDATA[Cambiar estado de ordenes]]></displayName>
            <version><![CDATA[1 Alfa]]></version>
            <description><![CDATA[Actualiza las ordenes colocando el estado de Preparaci&oacute;n en Curso.]]></description>
            <author><![CDATA[Farmalisto]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>